COBieSchema/nbims03/lcie/090_02_ProductTypeTemplate.xsd

<xs:schema xmlns="http://docs.buildingsmartalliance.org/nbims03/cobie/core" xmlns:camed="http://jcam.org.uk/editor" xmlns:lcie="http://docs.buildingsmartalliance.org/nbims03/lcie/core" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tt="http://docs.buildingsmartalliance.org/nbims03/lcie/09002ProductTypeTemplate" targetNamespace="http://docs.buildingsmartalliance.org/nbims03/lcie/09002ProductTypeTemplate" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="RC4">
	<xs:import namespace="http://docs.buildingsmartalliance.org/nbims03/cobie/core" schemaLocation="../cobie/core.xsd"/>
	<xs:import namespace="http://docs.buildingsmartalliance.org/nbims03/lcie/core" schemaLocation="core.xsd"/>
	<xs:element name="ProductTypeTemplate" type="tt:ProductTypeTemplateType" substitutionGroup="lcie:InformationExchange"/>
	<xs:complexType name="ProductTypeTemplateType">
		<xs:complexContent>
			<xs:extension base="lcie:InformationExchangeComplexType">
				<xs:sequence>
					<xs:element ref="AssetTypes"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="AssetTypeUpdateGroup">
		<xs:sequence>
			<xs:element ref="AssetTypeName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:sequence>
				<xs:element ref="AssetTypeCategory" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeAccountingCategory" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeNominalLength" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeNominalWidth" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeNominalHeight" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeAccessibilityText" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeCodePerformance" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeColorCode" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeConstituentsDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeFeaturesDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeFinishDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeGradeDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeMaterialDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeShapeDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeSizeDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeSustainabilityPerformanceDescription" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element ref="AssetTypeAttributes" minOccurs="0">
					<xs:annotation>
						<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:sequence>
	</xs:group>
	<xs:group name="AssetTypeGroup">
		<xs:sequence>
			<xs:element ref="AssetTypeCategory">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeDescription">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeAccountingCategory">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeNominalLength" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeNominalWidth" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeNominalHeight" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeAccessibilityText" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeCodePerformance" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeColorCode" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeConstituentsDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeFeaturesDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeFinishDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeGradeDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeMaterialDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeShapeDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeSizeDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeSustainabilityPerformanceDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetTypeAttributes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="AssetTypeInfoType">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Type record is required for all COBie deliverables related to equipment Type information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AssetTypeInfoType">
				<xs:sequence>
					<xs:group ref="tt:AssetTypeGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AssetType" type="tt:AssetTypeInfoType" substitutionGroup="AssetType">
		<xs:annotation>
			<xs:documentation>A minimum of one AssetType record is required for all COBie deliverables related to equipment Type information. AssetType is associated with one or more Assets.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InformationExchangeID" type="lcie:InformationExchangeSimpleType" substitutionGroup="lcie:InformationExchangeID" fixed="090.02_ProductTypeTemplate"/>
	<!--Transactional definitions -->
	<xs:complexType name="TypeTemplateDeleteRequestType">
		<xs:sequence>
			<xs:element ref="tt:ProductTypeTemplateKey"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TypeTemplateReadResultType">
		<xs:complexContent>
			<xs:extension base="lcie:ReadResultType">
				<xs:sequence>
					<xs:element ref="tt:AssetType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateAssetTypeRequestType">
		<xs:sequence>
			<xs:element ref="AssetType"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TypeTemplateUpdateRequestType">
		<xs:sequence>
			<xs:element ref="tt:ProductTypeTemplateKey"/>
			<xs:group ref="tt:AssetTypeUpdateGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TypeTemplateUpdateAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="tt:ProductTypeTemplateKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TypeTemplateCreateAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="tt:ProductTypeTemplateKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TypeTemplateDeleteAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteAttributeRequestType">
				<xs:sequence>
					<xs:element ref="tt:ProductTypeTemplateKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeTemplateClientRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:ClientRequestExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeTemplateServerResponseType">
		<xs:complexContent>
			<xs:extension base="lcie:ServerResponseExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeTemplateCreateRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateRequestType">
				<xs:choice>
					<xs:element ref="tt:CreateAssetTypeRequest"/>
					<xs:element ref="tt:CreateAssetTypeAttributeRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeTemplateUpdateRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateRequestType">
				<xs:choice>
					<xs:element ref="tt:UpdateAssetTypeRequest"/>
					<xs:element ref="tt:UpdateAssetTypeAttributeRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeTemplateDeleteRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteRequestType">
				<xs:choice>
					<xs:element ref="tt:DeleteAssetTypeAttributeRequest"/>
					<xs:element ref="tt:DeleteAssetTypeRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ProductTypeTemplateCreateRequest" type="tt:ProductTypeTemplateCreateRequestType" substitutionGroup="lcie:CreateRequest">
		
	</xs:element>
	<xs:element name="ProductTypeTemplateReadResult" type="tt:TypeTemplateReadResultType" substitutionGroup="lcie:ReadResult">
		
	</xs:element>
	<xs:element name="ProductTypeTemplateUpdateRequest" type="tt:ProductTypeTemplateUpdateRequestType" substitutionGroup="lcie:UpdateRequest">
		
	</xs:element>
	<xs:element name="ProductTypeTemplateDeleteRequest" type="tt:ProductTypeTemplateDeleteRequestType" substitutionGroup="lcie:DeleteRequest">
		
	</xs:element>
	<xs:element name="ProductTypeTemplateKey" type="AssetTypeKeyType" substitutionGroup="lcie:Key"/>
	<xs:element name="CreateAssetTypeAttributeRequest" type="tt:TypeTemplateCreateAttributeRequestType"/>
	<xs:element name="CreateAssetTypeRequest" type="tt:CreateAssetTypeRequestType">
	</xs:element>
	<xs:element name="UpdateAssetTypeAttributeRequest" type="tt:TypeTemplateUpdateAttributeRequestType"/>
	<xs:element name="DeleteAssetTypeAttributeRequest" type="tt:TypeTemplateDeleteAttributeRequestType"/>
	<xs:element name="DeleteAssetTypeRequest" type="tt:TypeTemplateDeleteRequestType">
	</xs:element>
	<xs:element name="UpdateAssetTypeRequest" type="tt:TypeTemplateUpdateRequestType">
	</xs:element>
	
		<xs:element name="ProductTypeTemplate_090_Request" type="tt:ProductTypeTemplateClientRequestType"/>
	<xs:element name="ProductTypeTemplate_090_ServerResponse" type="tt:ProductTypeTemplateServerResponseType"/>
</xs:schema>
