COBieSchema/nbims03/lcie/250_04_SystemOperation.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lcie="http://docs.buildingsmartalliance.org/nbims03/lcie/core" xmlns="http://docs.buildingsmartalliance.org/nbims03/cobie/core" xmlns:camed="http://jcam.org.uk/editor" xmlns:so="http://docs.buildingsmartalliance.org/nbims03/lcie/25004SystemOperation" targetNamespace="http://docs.buildingsmartalliance.org/nbims03/lcie/25004SystemOperation" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="RC4">
	<xs:import namespace="http://docs.buildingsmartalliance.org/nbims03/cobie/core" schemaLocation="../cobie/core.xsd"/>
	<xs:import namespace="http://docs.buildingsmartalliance.org/nbims03/lcie/core" schemaLocation="core.xsd"/>
	<xs:element name="SystemOperation" type="so:SystemOperationType"/>
	<xs:complexType name="OperationAssetInfoType">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Type record is required for all COBie deliverables related to equipment Type information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AssetInfoType">
				<xs:sequence>
					<xs:group ref="so:AssetReadOnlyGroup"/>
					<xs:group ref="so:AssetCreateGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OperationFloorType">
		<xs:complexContent>
			<xs:extension base="FloorType">
				<xs:sequence>
					<xs:element ref="Spaces"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OperationAssetTypeInfoType">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Type record is required for all COBie deliverables related to equipment Type information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AssetTypeInfoType">
				<xs:group ref="so:AssetTypeReadOnlyGroup"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OperationSpaceType">
		<xs:complexContent>
			<xs:extension base="SpaceType">
				<xs:sequence>
					<xs:group ref="so:SpaceCreateGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OperationSystemType">
		<xs:complexContent>
			<xs:extension base="SystemType">
				<xs:sequence>
					<xs:group ref="so:SystemCreateGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OperationZoneType">
		<xs:complexContent>
			<xs:extension base="ZoneType">
				<xs:sequence>
					<xs:group ref="so:ZoneCreateGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemOperationType">
		<xs:complexContent>
			<xs:extension base="lcie:InformationExchangeComplexType">
				<xs:sequence>
					<xs:element ref="AssetTypes"/>
					<xs:element ref="Floors"/>
					<xs:element ref="Systems"/>
					<xs:element ref="Zones"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="AssetTypeReadOnlyGroup">
		<xs:sequence>
			<xs:element ref="AssetTypeCategory"/>
			<xs:element ref="AssetTypeDescription"/>
			<xs:element ref="AssetTypeManufacturerContactAssignments"/>
			<xs:element ref="AssetTypeModelNumber"/>
			<xs:element ref="Assets"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="AssetTypeGroup">
		<xs:sequence>
			<xs:element ref="AssetTypeDocuments"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="AssetCreateGroup">
		<xs:sequence>
			<xs:element ref="AssetWarrantyStartDate" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="AssetSystemAssignments"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="AssetReadOnlyGroup">
		<xs:sequence>
			<xs:element ref="AssetDescription"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="SystemCreateGroup">
		<xs:sequence>
			<xs:element ref="SystemDescription">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SystemAttributes">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SystemDocuments">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SystemIssues">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="SystemUpdateGroup">
		<xs:sequence>
			<xs:element ref="SystemName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SystemCategory" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SystemDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SystemAttributes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SystemDocuments" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="SystemIssues" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="SpaceCreateGroup">
		<xs:sequence>
			<xs:element ref="SpaceZoneAssignments">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="ZoneCreateGroup">
		<xs:sequence>
			<xs:element ref="ZoneDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ZoneAttributes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ZoneDocuments" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ZoneIssues" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="ZoneUpdateGroup">
		<xs:sequence>
			<xs:element ref="ZoneName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ZoneCategory" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ZoneDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ZoneAttributes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ZoneDocuments" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ZoneIssues" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:element name="AssetType" type="so:OperationAssetTypeInfoType" substitutionGroup="AssetType"/>
	<xs:element name="Zone" type="so:OperationZoneType" substitutionGroup="Zone"/>
	<xs:element name="Asset" type="so:OperationAssetInfoType" substitutionGroup="Asset"/>
	<xs:element name="Floor" type="so:OperationFloorType" substitutionGroup="Floor"/>
	<xs:element name="Space" type="so:OperationSpaceType" substitutionGroup="Space"/>
	<xs:element name="System" type="so:OperationSystemType" substitutionGroup="System"/>
	<xs:element name="InformationExchangeID" type="lcie:InformationExchangeSimpleType" substitutionGroup="lcie:InformationExchangeID" fixed="250.04_SystemOperation"/>
	
	<xs:complexType name="SystemOperationReadType">
		<xs:complexContent>
			<xs:extension base="lcie:ReadResultType">
				<xs:sequence>
					<xs:element ref="System"/>
					<xs:element ref="AssetTypes"/>
					<xs:element ref="Floors"/>
					<xs:element ref="Zones"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateZoneType">
		<xs:sequence>
			<xs:element ref="so:ZoneKey"/>
			<xs:group ref="so:ZoneUpdateGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateZoneIssueRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateIssueRequestType">
				<xs:sequence>
					<xs:element ref="so:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateZoneIssueRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateIssueRequestType">
				<xs:sequence>
					<xs:element ref="so:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteZoneIssueRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteIssueRequestType">
				<xs:sequence>
					<xs:element ref="so:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateZoneAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="so:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateZoneAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="so:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteZoneAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteAttributeRequestType">
				<xs:sequence>
					<xs:element ref="so:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateZoneDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="so:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateZoneDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="so:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteZoneDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="so:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateAssetTypeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="so:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateAssetTypeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="so:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteAssetTypeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="so:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateAssetRequestType">
		<xs:sequence>
			<xs:element ref="AssetWarrantyStartDate"/>
			<xs:element ref="AssetSystemAssignments"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreateSystemRequestType">
		<xs:sequence>
			<xs:element ref="System"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteSystemRequestType">
		<xs:sequence>
			<xs:element ref="so:SystemOperationKey"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateSystemRequestType">
		<xs:sequence>
			<xs:element ref="so:SystemOperationKey"/>
			<xs:group ref="so:SystemUpdateGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateSpaceRequestType">
		<xs:sequence>
			<xs:element ref="so:SpaceKey"/>
			<xs:group ref="so:SpaceCreateGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateSystemIssueRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateIssueRequestType">
				<xs:sequence>
					<xs:element ref="so:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateSystemIssueRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateIssueRequestType">
				<xs:sequence>
					<xs:element ref="so:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteSystemIssueRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteIssueRequestType">
				<xs:sequence>
					<xs:element ref="so:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateSystemAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="so:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateSystemAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="so:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteSystemAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteAttributeRequestType">
				<xs:sequence>
					<xs:element ref="so:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateSystemDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="so:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateSystemDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="so:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteSystemDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="so:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemOperationClientRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:ClientRequestExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemOperationServerResponseType">
		<xs:complexContent>
			<xs:extension base="lcie:ServerResponseExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemOperationCreateRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateRequestType">
				<xs:choice>
					<xs:element ref="so:CreateSystemRequest"/>
					<xs:element ref="so:CreateZoneIssueRequest"/>
					<xs:element ref="so:CreateZoneAttributeRequest"/>
					<xs:element ref="so:CreateZoneDocumentRequest"/>
					<xs:element ref="so:CreateSystemIssueRequest"/>
					<xs:element ref="so:CreateSystemAttributeRequest"/>
					<xs:element ref="so:CreateSystemDocumentRequest"/>
					<xs:element ref="so:CreateAssetTypeDocumentRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemOperationDeleteRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteRequestType">
				<xs:choice>
					<xs:element ref="so:DeleteSystemRequest"/>
					<xs:element ref="so:DeleteZoneIssueRequest"/>
					<xs:element ref="so:DeleteZoneAttributeRequest"/>
					<xs:element ref="so:DeleteZoneDocumentRequest"/>
					<xs:element ref="so:DeleteSystemIssueRequest"/>
					<xs:element ref="so:DeleteSystemAttributeRequest"/>
					<xs:element ref="so:DeleteSystemDocumentRequest"/>
					<xs:element ref="so:DeleteAssetTypeDocumentRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateSystemOperationRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateRequestType">
				<xs:choice>
					<xs:element ref="so:UpdateSystemRequest"/>
					<xs:element ref="so:UpdateAssetRequest"/>
					<xs:element ref="so:UpdateZoneIssueRequest"/>
					<xs:element ref="so:UpdateZoneAttributeRequest"/>
					<xs:element ref="so:UpdateZoneDocumentRequest"/>
					<xs:element ref="so:UpdateSystemIssueRequest"/>
					<xs:element ref="so:UpdateSystemAttributeRequest"/>
					<xs:element ref="so:UpdateSystemDocumentRequest"/>
					<xs:element ref="so:UpdateAssetTypeDocumentRequest"/>
					<xs:element ref="so:UpdateZoneRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SystemOperationUpdateRequest" type="so:UpdateSystemOperationRequestType" substitutionGroup="lcie:UpdateRequest"/>
	<xs:element name="SystemOperationCreateRequest" type="so:SystemOperationCreateRequestType" substitutionGroup="lcie:CreateRequest"/>
	<xs:element name="SystemOperationDeleteRequest" type="so:SystemOperationDeleteRequestType" substitutionGroup="lcie:DeleteRequest"/>

	<xs:element name="SystemOperationReadResult" type="so:SystemOperationReadType" substitutionGroup="lcie:ReadResult"/>
	<xs:element name="SystemOperationKey" type="SystemKeyType" substitutionGroup="lcie:Key"/>
	<xs:element name="UpdateSystemRequest" type="so:UpdateSystemRequestType"/>
	<xs:element name="DeleteSystemRequest" type="so:DeleteSystemRequestType"/>
	<xs:element name="CreateSystemRequest" type="so:CreateSystemRequestType"/>
	<xs:element name="UpdateAssetRequest" type="so:UpdateAssetRequestType"/>
	<xs:element name="UpdateZoneIssueRequest" type="so:UpdateZoneIssueRequestType"/>
	<xs:element name="DeleteZoneIssueRequest" type="so:DeleteZoneIssueRequestType"/>
	<xs:element name="CreateZoneIssueRequest" type="so:CreateZoneIssueRequestType"/>
	<xs:element name="UpdateZoneAttributeRequest" type="so:UpdateZoneAttributeRequestType"/>
	<xs:element name="DeleteZoneAttributeRequest" type="so:DeleteZoneAttributeRequestType"/>
	<xs:element name="CreateZoneAttributeRequest" type="so:CreateZoneAttributeRequestType"/>
	<xs:element name="UpdateZoneDocumentRequest" type="so:UpdateZoneDocumentRequestType"/>
	<xs:element name="DeleteZoneDocumentRequest" type="so:DeleteZoneDocumentRequestType"/>
	<xs:element name="CreateZoneDocumentRequest" type="so:CreateZoneDocumentRequestType"/>
	<xs:element name="UpdateSystemIssueRequest" type="so:UpdateSystemIssueRequestType"/>
	<xs:element name="DeleteSystemIssueRequest" type="so:DeleteSystemIssueRequestType"/>
	<xs:element name="CreateSystemIssueRequest" type="so:CreateSystemIssueRequestType"/>
	<xs:element name="UpdateSystemAttributeRequest" type="so:UpdateSystemAttributeRequestType"/>
	<xs:element name="DeleteSystemAttributeRequest" type="so:DeleteSystemAttributeRequestType"/>
	<xs:element name="CreateSystemAttributeRequest" type="so:CreateSystemAttributeRequestType"/>
	<xs:element name="UpdateSystemDocumentRequest" type="so:UpdateSystemDocumentRequestType"/>
	<xs:element name="DeleteSystemDocumentRequest" type="so:DeleteSystemDocumentRequestType"/>
	<xs:element name="CreateSystemDocumentRequest" type="so:CreateSystemDocumentRequestType"/>
	<xs:element name="UpdateAssetTypeDocumentRequest" type="so:UpdateAssetTypeDocumentRequestType"/>
	<xs:element name="DeleteAssetTypeDocumentRequest" type="so:DeleteAssetTypeDocumentRequestType"/>
	<xs:element name="CreateAssetTypeDocumentRequest" type="so:CreateAssetTypeDocumentRequestType"/>
	<xs:element name="UpdateZoneRequest" type="so:UpdateZoneType"/>
	<xs:element name="ZoneKey" type="ZoneKeyType"/>
	<xs:element name="AssetTypeKey" type="AssetTypeKeyType"/>
	<xs:element name="AssetKey" type="AssetKeyType"/>
	<xs:element name="SpaceKey" type="SpaceKeyType"/>
</xs:schema>
