COBieSchema/nbims03/lcie/250_03_ProductTypeMaintenance.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:lcie="http://docs.buildingsmartalliance.org/nbims03/lcie/core" xmlns="http://docs.buildingsmartalliance.org/nbims03/cobie/core" xmlns:camed="http://jcam.org.uk/editor" xmlns:ptm="http://docs.buildingsmartalliance.org/nbims03/lcie/25003ProductTypeMaintenance" targetNamespace="http://docs.buildingsmartalliance.org/nbims03/lcie/25003ProductTypeMaintenance" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="RC4">
	<xs:import namespace="http://docs.buildingsmartalliance.org/nbims03/cobie/core" schemaLocation="../cobie/core.xsd"/>
	<xs:import namespace="http://docs.buildingsmartalliance.org/nbims03/lcie/core" schemaLocation="core.xsd"/>
	<xs:element name="ProductTypeMaintenance" type="ptm:ProductMaintenanceType"/>
	<xs:complexType name="AssetTypeInfoType">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Type record is required for all COBie deliverables related to equipment Type information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AssetTypeInfoType">
				<xs:sequence>
					<xs:group ref="ptm:AssetTypeReadOnlyGroup"/>
					<xs:group ref="ptm:AssetTypeGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="AssetTypeReadOnlyGroup">
		<xs:sequence>
			<xs:element ref="AssetTypeCategory"/>
			<xs:element ref="AssetTypeDescription"/>
			<xs:element ref="AssetTypeManufacturerContactAssignments"/>
			<xs:element ref="AssetTypeModelNumber"/>
			<xs:element ref="Assets"/>
		</xs:sequence>
	</xs:group>
	<xs:group name="AssetTypeGroup">
		<xs:sequence>
			<xs:element ref="AssetTypeDocuments"/>
			<xs:element ref="Jobs"/>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="JobType">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Job record is required for all relevant COBie.Type objects submitted at the benefical occupancy or facility handover stage.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="JobType">
				<xs:sequence>
					<xs:group ref="ptm:JobTypeCreateGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="JobTypeCreateGroup">
		<xs:sequence>
			<xs:element ref="JobCategory">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobStatus">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobDescription">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobDuration">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobStartDate">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobStartConditionDescription">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobFrequencyValue">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobPriorTaskID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Resources" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobAttributes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobDocuments" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="JobUpdateGroup">
		<xs:sequence>
			<xs:element ref="JobName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobTaskID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobCategory" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobStatus" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobDuration" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobStartDate" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobStartConditionDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobFrequencyValue" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobPriorTaskID" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="Resources" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobAttributes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="JobDocuments" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ResourceType">
		<xs:annotation>
			<xs:documentation>Information about a specific resource.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ResourceType">
				<xs:sequence>
					<xs:group ref="ptm:ResourceCreateGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:group name="ResourceUpdateGroup">
		<xs:sequence>
			<xs:element ref="ResourceName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ResourceCategory" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ResourceDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ResourceAttributes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ResourceDocuments" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:group name="ResourceCreateGroup">
		<xs:sequence>
			<xs:element ref="ResourceCategory">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ResourceDescription" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ResourceAttributes" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ResourceDocuments" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lcie:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:group>
	<xs:complexType name="ProductMaintenanceType">
		<xs:complexContent>
			<xs:extension base="lcie:InformationExchangeComplexType">
				<xs:sequence>
					<xs:element ref="AssetTypes"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="AssetType" type="ptm:AssetTypeInfoType" substitutionGroup="AssetType">
		<xs:annotation>
			<xs:documentation>A minimum of one AssetType record is required for all COBie deliverables related to equipment Type information. AssetType is associated with one or more Assets.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InformationExchangeID" type="lcie:InformationExchangeSimpleType" substitutionGroup="lcie:InformationExchangeID" fixed="250.03_ProductTypeMaintenance"/>
	<xs:element name="Job" type="ptm:JobType" substitutionGroup="Job"/>
	<xs:element name="Resource" type="ptm:ResourceType" substitutionGroup="Resource"/>
	
		<xs:complexType name="MaintenanceReadResultType">
		<xs:complexContent>
			<xs:extension base="lcie:ReadResultType">
				<xs:sequence>
					<xs:element ref="AssetType"/>
					<xs:element ref="Contacts"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateJobType">
		<xs:sequence>
			<xs:element ref="ptm:AssetTypeKey"/>
			<xs:element ref="Job"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteJobType">
		<xs:sequence>
			<xs:element ref="ptm:JobKey"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateJobType">
		<xs:sequence>
			<xs:element ref="ptm:JobKey"/>
			<xs:group ref="ptm:JobUpdateGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreateResourceType">
		<xs:sequence>
			<xs:element ref="ptm:JobKey"/>
			<xs:element ref="Resource"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteResourceType">
		<xs:sequence>
			<xs:element ref="ptm:ResourceKey"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateResourceType">
		<xs:sequence>
			<xs:element ref="ptm:ResourceKey"/>
			<xs:group ref="ptm:ResourceUpdateGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateAssetTypeDocumentType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="ptm:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateAssetTypeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="ptm:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteAssetTypeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="ptm:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateJobDocumentType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="ptm:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateJobDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="ptm:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteJobDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="ptm:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateResourceDocumentType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="ptm:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateResourceDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="ptm:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteResourceDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="ptm:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateJobAttributeType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="ptm:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateJobAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="ptm:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteJobAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteAttributeRequestType">
				<xs:sequence>
					<xs:element ref="ptm:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateResourceAttributeType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="ptm:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateResourceAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="ptm:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteResourceAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteAttributeRequestType">
				<xs:sequence>
					<xs:element ref="ptm:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeMaintenanceClientRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:ClientRequestExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeMaintenanceServerResponseType">
		<xs:complexContent>
			<xs:extension base="lcie:ServerResponseExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeMaintenanceCreateRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateRequestType">
				<xs:choice>
					<xs:element ref="ptm:CreateAssetTypeDocumentRequest"/>
					<xs:element ref="ptm:CreateJobDocumentRequest"/>
					<xs:element ref="ptm:CreateResourceDocumentRequest"/>
					<xs:element ref="ptm:CreateJobAttributeRequest"/>
					<xs:element ref="ptm:CreateResourceAttributeRequest"/>
					<xs:element ref="ptm:CreateJobRequest"/>
					<xs:element ref="ptm:CreateResourceRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeMaintenanceDeleteRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteRequestType">
				<xs:choice>
					<xs:element ref="ptm:DeleteAssetTypeDocumentRequest"/>
					<xs:element ref="ptm:DeleteJobDocumentRequest"/>
					<xs:element ref="ptm:DeleteResourceDocumentRequest"/>
					<xs:element ref="ptm:DeleteJobAttributeRequest"/>
					<xs:element ref="ptm:DeleteResourceAttributeRequest"/>
					<xs:element ref="ptm:DeleteJobRequest"/>
					<xs:element ref="ptm:DeleteResourceRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateProductTypeMaintenanceRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateRequestType">
				<xs:choice>
					<xs:element ref="ptm:UpdateAssetTypeDocumentRequest"/>
					<xs:element ref="ptm:UpdateJobDocumentRequest"/>
					<xs:element ref="ptm:UpdateResourceDocumentRequest"/>
					<xs:element ref="ptm:UpdateJobAttributeRequest"/>
					<xs:element ref="ptm:UpdateResourceAttributeRequest"/>
					<xs:element ref="ptm:UpdateJobRequest"/>
					<xs:element ref="ptm:UpdateResourceRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ProductTypeMaintenanceUpdateRequest" type="ptm:UpdateProductTypeMaintenanceRequestType" substitutionGroup="lcie:UpdateRequest"/>
	<xs:element name="ProductTypeMaintenanceCreateRequest" type="ptm:ProductTypeMaintenanceCreateRequestType" substitutionGroup="lcie:CreateRequest"/>
	<xs:element name="ProductTypeMaintenanceDeleteRequest" type="ptm:ProductTypeMaintenanceDeleteRequestType" substitutionGroup="lcie:DeleteRequest"/>
	<xs:element name="AssetTypeKey" type="AssetTypeKeyType" substitutionGroup="lcie:Key"/>
	<xs:element name="ProductTypeMaintenanceReadResult" type="ptm:MaintenanceReadResultType" substitutionGroup="lcie:ReadResult"/>

	<xs:element name="DeleteAssetTypeDocumentRequest" type="ptm:DeleteAssetTypeDocumentRequestType"/>
	<xs:element name="CreateAssetTypeDocumentRequest" type="ptm:CreateAssetTypeDocumentRequestType"/>
	<xs:element name="UpdateAssetTypeDocumentRequest" type="ptm:UpdateAssetTypeDocumentType"/>
	<xs:element name="DeleteJobDocumentRequest" type="ptm:DeleteJobDocumentRequestType"/>
	<xs:element name="CreateJobDocumentRequest" type="ptm:CreateJobDocumentRequestType"/>
	<xs:element name="UpdateJobDocumentRequest" type="ptm:UpdateJobDocumentType"/>
	<xs:element name="DeleteResourceDocumentRequest" type="ptm:DeleteResourceDocumentRequestType"/>
	<xs:element name="CreateResourceDocumentRequest" type="ptm:CreateResourceDocumentRequestType"/>
	<xs:element name="UpdateResourceDocumentRequest" type="ptm:UpdateResourceDocumentType"/>
	<xs:element name="DeleteJobAttributeRequest" type="ptm:DeleteJobAttributeRequestType"/>
	<xs:element name="CreateJobAttributeRequest" type="ptm:CreateJobAttributeRequestType"/>
	<xs:element name="UpdateJobAttributeRequest" type="ptm:UpdateJobAttributeType"/>
	<xs:element name="DeleteResourceAttributeRequest" type="ptm:DeleteResourceAttributeRequestType"/>
	<xs:element name="CreateResourceAttributeRequest" type="ptm:CreateResourceAttributeRequestType"/>
	<xs:element name="UpdateResourceAttributeRequest" type="ptm:UpdateResourceAttributeType"/>
	<xs:element name="CreateJobRequest" type="ptm:CreateJobType"/>
	<xs:element name="UpdateJobRequest" type="ptm:UpdateJobType"/>
	<xs:element name="DeleteJobRequest" type="ptm:DeleteJobType"/>
	<xs:element name="CreateResourceRequest" type="ptm:CreateResourceType"/>
	<xs:element name="UpdateResourceRequest" type="ptm:UpdateResourceType"/>
	<xs:element name="DeleteResourceRequest" type="ptm:DeleteResourceType"/>
	<xs:element name="JobKey" type="JobKeyType"/>
	<xs:element name="ResourceKey" type="ResourceKeyType"/>
</xs:schema>
