COBieSchema/nbims03/lcie/core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://docs.buildingsmartalliance.org/nbims03/cobie/core" xmlns:lcie="http://docs.buildingsmartalliance.org/nbims03/lcie/core" xmlns:cobielite="http://docs.buildingsmartalliance.org/nbims03/cobie/core" targetNamespace="http://docs.buildingsmartalliance.org/nbims03/lcie/core" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="RC4">
	<xs:import namespace="http://docs.buildingsmartalliance.org/nbims03/cobie/core" schemaLocation="../cobie/core.xsd"/>
	<!-- LCie Types -->
	<xs:complexType name="AttributeClientRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:ClientRequestExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttributeReadResultType">
		<xs:sequence>
			<xs:element ref="Attribute"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AttributeServerResponseType">
		<xs:complexContent>
			<xs:extension base="lcie:ServerResponseExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ClientRequestExchangeType" abstract="true">
		<xs:complexContent>
			<xs:extension base="lcie:RequestType">
				<xs:sequence>
					<xs:choice>
						<xs:element ref="lcie:CreateRequest"/>
						<xs:element ref="lcie:ReadRequest"/>
						<xs:element ref="lcie:ReadAllRequest"/>
						<xs:element ref="lcie:UpdateRequest"/>
						<xs:element ref="lcie:DeleteRequest"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContactClientRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:ClientRequestExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContactDeleteRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:DeleteRequestType">
				<xs:sequence>
					<xs:element ref="lcie:ContactKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContactReadResultType">
		<xs:complexContent>
			<xs:extension base="lcie:ReadResultType">
				<xs:sequence>
					<xs:element ref="Contact"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContactServerResponseType">
		<xs:complexContent>
			<xs:extension base="lcie:ServerResponseExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContactUpdateRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:UpdateRequestType">
				<xs:sequence>
				<xs:element ref="ContactEmail"/>
								<xs:element ref="ContactCategory">
				<xs:annotation>
					<xs:appinfo source="urn:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactCompanyName">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactPhoneNumber">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactDepartmentName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactGivenName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactFamilyName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactStreet" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactPostalBoxNumber" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactTownName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactRegionCode" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactCountryName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactPostalCode" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactURL" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateAttributeRequestType">
		<xs:sequence>
			<xs:element ref="Attribute"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreateContactRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:CreateRequestType">
				<xs:sequence>
					<xs:element ref="Contact"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateDocumentRequestType">
		<xs:sequence>
			<xs:element ref="Document"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreateIssueRequestType">
		<xs:sequence>
			<xs:element ref="Issue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreateRequestType" abstract="true">
		<xs:sequence>
			<xs:element ref="lcie:ProjectID"/>
			<xs:element ref="lcie:CreateHandlerID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreateResultType">
		<xs:complexContent>
			<xs:extension base="lcie:ResultType">
				<xs:sequence>
					<xs:element ref="lcie:RevisionID">
						<xs:annotation>
							<xs:documentation>The new revision ID generated as a result of the successful create action.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="lcie:CreateSuccess"/>
					<xs:element ref="lcie:CreateResultMessage" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteAttributeRequestType">
		<xs:sequence>
			<xs:element ref="lcie:AttributeKey"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteDocumentRequestType">
		<xs:sequence>
			<xs:element ref="lcie:DocumentKey"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteIssueRequestType">
		<xs:sequence>
			<xs:element ref="lcie:IssueKey"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteRequestType" abstract="true">
		<xs:sequence>
			<xs:element ref="lcie:RevisionID"/>
			<xs:element ref="lcie:DeleteHandlerID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteResultType">
		<xs:complexContent>
			<xs:extension base="lcie:ResultType">
				<xs:sequence>
					<xs:element ref="lcie:RevisionID">
						<xs:annotation>
							<xs:documentation>The new revision ID generated as a result of the successful delete action.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="lcie:DeleteSuccess"/>
					<xs:element ref="lcie:DeleteResultMessage" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocumentClientRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:ClientRequestExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocumentReadResultType">
		<xs:sequence>
			<xs:element ref="Document"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentServerResponseType">
		<xs:complexContent>
			<xs:extension base="lcie:ServerResponseExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="InformationExchangeComplexType" abstract="true">
		<xs:sequence>
			<xs:element ref="lcie:InformationExchangeID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="InformationExchangeSimpleType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="090.02_ProductTypeTemplate"/>
			<xs:enumeration value="100.02_ProductTypeCandidate"/>
			<xs:enumeration value="100.03_ProductTypeTemplate"/>
			<xs:enumeration value="110.01_ProductTypeCandidate"/>
			<xs:enumeration value="180.01_ProductTypeSelection"/>
			<xs:enumeration value="210.01_ProductInstallationReport"/>
			<xs:enumeration value="230.01_ProductInspection"/>
			<xs:enumeration value="250.01_ProductTypeParts"/>
			<xs:enumeration value="250.02_ProductTypeWarranty"/>
			<xs:enumeration value="250.03_ProductTypeMaintenance"/>
			<xs:enumeration value="250.04_SystemOperation"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="IssueClientRequestType">
		<xs:complexContent>
			<xs:extension base="lcie:ClientRequestExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IssueReadResultType">
		<xs:sequence>
			<xs:element ref="Issue"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IssueServerResponseType">
		<xs:complexContent>
			<xs:extension base="lcie:ServerResponseExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ReadAllRequestType">
		<xs:sequence>
			<xs:element ref="lcie:RevisionID"/>
			<xs:element ref="lcie:ReadHandlerID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReadAllResultType">
		<xs:sequence>
			<xs:element ref="lcie:InformationExchange"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReadRequestType">
		<xs:sequence>
			<xs:element ref="lcie:RevisionID"/>
			<xs:element ref="lcie:ReadHandlerID"/>
			<xs:element ref="lcie:Key"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReadResultType" abstract="true">
		<xs:complexContent>
			<xs:extension base="lcie:ResultType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RequestType" abstract="true">
		<xs:sequence>
			<xs:element ref="lcie:InformationExchangeID"/>
			<xs:element ref="lcie:SessionToken"/>
			<xs:element ref="lcie:UserID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ResultType" abstract="true">
		<xs:sequence>
			<xs:element ref="lcie:InformationExchangeID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ServerResponseExchangeType" abstract="true">
		<xs:choice>
			<xs:element ref="lcie:CreateResult"/>
			<xs:element ref="lcie:ReadResult"/>
			<xs:element ref="lcie:ReadAllResult"/>
			<xs:element ref="lcie:UpdateResult"/>
			<xs:element ref="lcie:DeleteResult"/>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="UpdateRequestType" abstract="true">
		<xs:sequence>
			<xs:element ref="lcie:RevisionID"/>
			<xs:element ref="lcie:UpdateHandlerID"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateResultType">
		<xs:complexContent>
			<xs:extension base="lcie:ResultType">
				<xs:sequence>
					<xs:element ref="lcie:RevisionID">
						<xs:annotation>
							<xs:documentation>The new revision ID generated as a result of the successful update action.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element ref="lcie:UpdateSuccess"/>
					<xs:element ref="lcie:UpdateResultMessage" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateDocumentRequestType">
		<xs:sequence>
			<xs:element ref="lcie:DocumentKey"/>
			<xs:element ref="Document"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateAttributeRequestType">
		<xs:sequence>
			<xs:element ref="lcie:AttributeKey"/>
			<xs:element ref="Attribute"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateIssueRequestType">
		<xs:sequence>
			<xs:element ref="lcie:IssueKey"/>
			<xs:element ref="Issue"/>
		</xs:sequence>
	</xs:complexType>
	<!-- Extended COBieLite Types -->
	<xs:complexType name="AttributeType">
		<xs:annotation>
			<xs:documentation>Information about a specific Attribute.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="AttributeType">
				<xs:sequence>
					<xs:element ref="AttributeDescription" minOccurs="0">
						<xs:annotation>
							<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element ref="AttributeValue">
						<xs:annotation>
							<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:annotation>
			<xs:documentation>Information about a specific company who can provide the type of equipment.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="ContactType">
				<xs:sequence>
			<xs:element ref="ContactCategory">
				<xs:annotation>
					<xs:appinfo source="urn:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactCompanyName">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactPhoneNumber">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactDepartmentName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactGivenName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactFamilyName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactStreet" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactPostalBoxNumber" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactTownName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactRegionCode" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactCountryName" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactPostalCode" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element ref="ContactURL" minOccurs="0">
				<xs:annotation>
					<xs:appinfo source="urn:lciepi:ReadOnly">false</xs:appinfo>
				</xs:annotation>
			</xs:element>				
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation>Information about a specific Document.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="DocumentType">
				<xs:sequence>
					<xs:element ref="DocumentCategory"/>
					<xs:element ref="DocumentDescription" minOccurs="0"/>
					<xs:element ref="DocumentURI"/>
					<xs:element ref="DocumentReferenceURI" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IssueType">
		<xs:annotation>
			<xs:documentation>A specific Issue within this set of Issues.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="IssueType">
				<xs:sequence>
					<xs:element ref="IssueRiskText"/>
					<xs:element ref="IssueSeverityText"/>
					<xs:element ref="IssueImpactText"/>
					<xs:element ref="IssueDescription"/>
					<xs:element ref="ContactAssignment"/>
					<xs:element ref="IssueMitigationDescription"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--LCie Elements-->
	<xs:element name="AttributeKey" type="AttributeKeyType"/>
	<xs:element name="ContactKey" type="ContactKeyType"/>
	<xs:element name="CreateContactRequest" type="lcie:CreateContactRequestType"/>
	<xs:element name="CreateHandlerID" type="xs:long">
		<xs:annotation>
			<xs:documentation>
				An ID associated with a server-side handler that handles a create request.  For example, this element corresponds to the Deserializer object id in BIMSie.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CreateRequest" type="lcie:CreateRequestType" abstract="true">
		<xs:annotation>
			<xs:documentation>
				A Request to create an LCie element.  Typically a Create request should correspond to an element with many children, e.g. the COBieLite Asset.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CreateResult" type="lcie:CreateResultType">
		<xs:annotation>
			<xs:documentation>
				Results of the Create Request include the new revision ID, a boolean indicating success, and an optional message.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CreateResultMessage" type="xs:string">
		<xs:annotation>
			<xs:documentation>
		A server-provided message generated as confirmation of a handled CreateRequest.
	</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="CreateSuccess" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>
		Indicating success or failure of a CreateRequest.
	</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeleteContactRequest" type="lcie:ContactDeleteRequestType"/>
	<xs:element name="DeleteHandlerID" type="xs:long">
		<xs:annotation>
			<xs:documentation>
				An ID associated with a server-side handler that handles a delete request.  For example, this element corresponds to the Deserializer object id in BIMSie.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeleteRequest" type="lcie:DeleteRequestType" abstract="true">
		<xs:annotation>
			<xs:documentation>
				A delete request must contain a RevisionID, a DeleteHandlerID, and a DeleteKey corresponding to one LCie concept.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeleteResult" type="lcie:DeleteResultType">
		<xs:annotation>
			<xs:documentation>
				A DeleteResult must contain a new RevisionID, a boolean indicating success or failure, and an optional message.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeleteResultMessage" type="xs:string">
		<xs:annotation>
			<xs:documentation>
		A server-provided message generated as confirmation of a handled DeleteRequest.
	</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="DeleteSuccess" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>
Indicates success or failure of a handled DeleteRequest.
	</xs:documentation>
		</xs:annotation>
	</xs:element>
	
	<xs:element name="DocumentKey" type="DocumentKeyType"/>
	<xs:element name="InformationExchange" type="lcie:InformationExchangeComplexType" abstract="true">
		<xs:annotation>
			<xs:documentation>
				An instance of an LCie information exchange.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="IssueKey" type="IssueKeyType"/>
	<xs:element name="Key" type="CobieKeyType" abstract="true">
		<xs:annotation>
			<xs:documentation>
				The key corresponding to one particular LCie element or concept.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ProjectID" type="xs:long">
		<xs:annotation>
			<xs:documentation>
				The ID associated with the project.  A project is the server item to which revisions are written.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="RevisionID" type="xs:long">
		<xs:annotation>
			<xs:documentation>
				An ID associated with a specific Project revision.  RevisionIDs are required for all read requests and are returned by all create, update, and delete results.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="SessionToken" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Authentication token for the current session.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReadHandlerID" type="xs:long">
		<xs:annotation>
			<xs:documentation>
				An ID associated with a server-side handler that produces a transformed result of a project revision.  For example, this element corresponds to the Serializer object id in BIMSie.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReadAllRequest" type="lcie:ReadAllRequestType">
		<xs:annotation>
			<xs:documentation>
				Requires only credentials, a revisionID, and a ReadHandlerID.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReadAllResult" type="lcie:ReadAllResultType">
		<xs:annotation>
			<xs:documentation>
				The result of a ReadAllRequest will contain all items relvant to one LCie concept.  For example, a ProductTypeTemplate view of all AssetType elements in a model revision.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReadRequest" type="lcie:ReadRequestType">
		<xs:annotation>
			<xs:documentation>
				A ReadRequest must contain a ReadKey element.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="ReadResult" type="lcie:ReadResultType" abstract="true">
		<xs:annotation>
			<xs:documentation>
				The result of a ReadRequest will contain information relevant to one LCie concept.
			</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:element name="UpdateHandlerID" type="xs:long">
		<xs:annotation>
			<xs:documentation>
				An ID associated with a server-side handler that handles an update request.  For example, this element corresponds to the Deserializer object id in BIMSie.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpdateRequest" type="lcie:UpdateRequestType" abstract="true">
		<xs:annotation>
			<xs:documentation>
				An UpdateRequest must have a RevisionID, an UpdateHandlerID, UpdateKey corresponding to an existing element in the project's latest revision, and a packet of information to update.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpdateResult" type="lcie:UpdateResultType">
		<xs:annotation>
			<xs:documentation>
				The result of an UpdateRequest will contain a new RevsisionID, a boolean indicating success or failure, and an optional message.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UserID" type="xs:long">
		<xs:annotation>
			<xs:documentation>
				The ID of the user associated with the current session.
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpdateSuccess" type="xs:boolean">
		<xs:annotation>
			<xs:documentation>
		Indicates success or failure of a handled UpdateRequest.
	</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpdateResultMessage" type="xs:string">
		<xs:annotation>
			<xs:documentation>
		A server-provided message generated as confirmation of a handled UpdateRequest.
	</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="UpdateContactRequest" type="lcie:ContactUpdateRequestType"/>
	<!-- COBieLite Element Substitutions -->
	<xs:element name="Attribute" type="lcie:AttributeType" substitutionGroup="Attribute">
		<xs:annotation>
			<xs:documentation>Information about a specific Attribute.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Contact" type="lcie:ContactType" substitutionGroup="Contact">
		<xs:annotation>
			<xs:documentation>Information about a specific manufacturer or supplier associated with an AssetType.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Document" type="lcie:DocumentType" substitutionGroup="Document">
		<xs:annotation>
			<xs:documentation>
			Information about a specific Document. 			
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Issue" type="lcie:IssueType" substitutionGroup="Issue" id="d2e1495">
		<xs:annotation>
			<xs:documentation>A specific Issue within this set of Issues. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="InformationExchangeID" type="lcie:InformationExchangeSimpleType" abstract="true">
		<xs:annotation>
			<xs:documentation>Corresponds to an LCie information exchange defined in the InformationExchangeSimpleType enumeration</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:attribute name="ReadOnly" type="xs:boolean" default="true">
		<xs:annotation>
			<xs:documentation>Used in LCie subschema app-info annotations to indicate whether or not the element is editable at the modeled stage of the facility life-cycle.  Default value is true and if asumed true if this app-info tag is not present in a subschema element.</xs:documentation>
		</xs:annotation>
	</xs:attribute>
</xs:schema>
