COBieSchema/COBieLite/xsd/cobielite_all.xsd

<!-- edited with XMLSpy v2013 rel. 2 (x64) (http://www.altova.com) by Jackie L Heriard (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cobie="http://cobielite.cobie.erdc.org" xmlns:base="http://core.cobielite.cobie.erdc.org" xmlns:camed="http://jcam.org.uk/editor" targetNamespace="http://cobielite.cobie.erdc.org" elementFormDefault="qualified" attributeFormDefault="qualified" version="RC2">
	<xs:import namespace="http://core.cobielite.cobie.erdc.org" schemaLocation="cobielite_core.xsd"/>
	<xs:annotation>
		<xs:documentation>
			The Construction-Operations Building information exchange (COBie) is a United States Building Information Model Standard published by the buildingSMART alliance, a Council of the National Institute of Building Sciences.   COBie defines the information exchange requirements needed to capture required information needed to manage facility assets during the planning, design, construction, operations, management, renovation, and recycling of a facility.  COBie is a marketing name used by the buildingSMART alliance for the underlying internationally used format defined by the Facility Management Handover Model View Defintion, and internally used and recognized Model View of the STEP-based ISO 16739 standard.
			</xs:documentation>
	</xs:annotation>
	<!-- Document Root Element-->
	<xs:element name="Facility" type="cobie:FacilityType" substitutionGroup="base:Facility">
		<xs:annotation>
			<xs:documentation>
			Facility contains information about the facility being exchanged during a given COBie deliverable.  Since COBie deliverables may be exchanged during planning, design, construction, handover, or operation phases there may be differences in facility designations.  COBie files will typically contain a single facility.
			</xs:documentation>
		</xs:annotation>
		<!--Key Refs-->
		<!--Zone Key Refs-->
		<xs:keyref name="SpaceZoneKeyRef" refer="cobie:ZoneKey">
			<xs:annotation>
				<xs:documentation>Foriegn key for relation of a pair of Space and Zone elements.</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="base:Floors/cobie:Floor/base:Spaces/cobie:Space/base:SpaceZoneAssignments/base:ZoneAssignment"/>
			<xs:field xpath="cobie:ZoneName"/>
			<xs:field xpath="cobie:ZoneCategory"/>
		</xs:keyref>
		<!--Space Key Refs-->
		<xs:keyref name="AssetSpaceKeyRef" refer="cobie:SpaceKey">
			<xs:annotation>
				<xs:documentation>Foreign key for relation of a pair of Space and Asset elements.</xs:documentation>
			</xs:annotation>
			<xs:selector xpath="base:AssetTypes/cobie:AssetType/base:Assets/cobie:Asset/base:AssetSpaceAssignments/base:SpaceAssignment"/>
			<xs:field xpath="cobie:SpaceName"/>
		</xs:keyref>
	</xs:element>
	<!--ComplexType Extension Definitions-->
	<xs:complexType name="AssemblyType">
		<xs:annotation>
			<xs:documentation>The Assembly to which this Asset belongs</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:AssemblyType">
				<xs:sequence>
					<xs:element ref="base:AssemblyCategory" minOccurs="0"/>
					<xs:element ref="base:AssemblyDescription" minOccurs="0"/>
					<xs:element ref="base:AssemblyAttributes" minOccurs="0"/>
					<xs:element ref="base:AssemblyDocuments" minOccurs="0"/>
					<xs:element ref="base:AssemblyIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssetInfoType">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Asset record is required for all COBie deliverables related to equpment Asset information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:AssetInfoType">
				<xs:sequence>
					<xs:element ref="base:AssetDescription" minOccurs="0"/>
					<xs:element ref="base:AssetSerialNumber" minOccurs="0"/>
					<xs:element ref="base:AssetInstallationDate" minOccurs="0"/>
					<xs:element ref="base:AssetInstalledModelNumber" minOccurs="0"/>
					<xs:element ref="base:AssetWarrantyStartDate" minOccurs="0"/>
					<xs:element ref="base:AssetTagNumber" minOccurs="0"/>
					<xs:element ref="base:AssetBarCode" minOccurs="0"/>
					<xs:element ref="base:AssetIdentifier" minOccurs="0"/>
					<xs:element ref="base:AssetLocationDescription" minOccurs="0"/>
					<xs:element ref="base:AssetSystemAssignments" minOccurs="0"/>
					<xs:element ref="base:AssemblyAssignments" minOccurs="0"/>
					<xs:element ref="base:AssetAttributes" minOccurs="0"/>
					<xs:element ref="base:AssetDocuments" minOccurs="0"/>
					<xs:element ref="base:AssetIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AssetTypeInfoType">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Type record is required for all COBie deliverables related to equipment Type information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:AssetTypeInfoType">
				<xs:sequence>
					<xs:element ref="base:AssetTypeCategory" minOccurs="0"/>
					<xs:element ref="base:AssetTypeDescription" minOccurs="0"/>
					<xs:element ref="base:AssetTypePortabilityText" minOccurs="0"/>
					<xs:element ref="base:AssetTypeModelNumber" minOccurs="0"/>
					<xs:element ref="base:AssetTypeReplacementCostValue" minOccurs="0"/>
					<xs:element ref="base:AssetTypeExpectedLifeValue" minOccurs="0"/>
					<xs:element ref="base:AssetTypeNominalLength" minOccurs="0"/>
					<xs:element ref="base:AssetTypeNominalWidth" minOccurs="0"/>
					<xs:element ref="base:AssetTypeNominalHeight" minOccurs="0"/>
					<xs:element ref="base:AssetTypeAccessibilityText" minOccurs="0"/>
					<xs:element ref="base:AssetTypeCodePerformance" minOccurs="0"/>
					<xs:element ref="base:AssetTypeColorCode" minOccurs="0"/>
					<xs:element ref="base:AssetTypeConstituentsDescription" minOccurs="0"/>
					<xs:element ref="base:AssetTypeFeaturesDescription" minOccurs="0"/>
					<xs:element ref="base:AssetTypeFinishDescription" minOccurs="0"/>
					<xs:element ref="base:AssetTypeGradeDescription" minOccurs="0"/>
					<xs:element ref="base:AssetTypeMaterialDescription" minOccurs="0"/>
					<xs:element ref="base:AssetTypeShapeDescription" minOccurs="0"/>
					<xs:element ref="base:AssetTypeSizeDescription" minOccurs="0"/>
					<xs:element ref="base:AssetTypeSustainabilityPerformanceDescription" minOccurs="0"/>
					<xs:element ref="base:Assets" minOccurs="0"/>
					<xs:element ref="base:AssetTypeContactAssignments" minOccurs="0"/>
					<xs:element ref="base:Warranties" minOccurs="0"/>
					<xs:element ref="base:Spares" minOccurs="0"/>
					<xs:element ref="base:Jobs" minOccurs="0"/>
					<xs:element ref="base:AssemblyAssignments" minOccurs="0"/>
					<xs:element ref="base:AssetTypeAttributes" minOccurs="0"/>
					<xs:element ref="base:AssetTypeDocuments" minOccurs="0"/>
					<xs:element ref="base:AssetTypeIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttributeType">
		<xs:annotation>
			<xs:documentation>Information about a specific Attribute.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:AttributeType">
				<xs:sequence>
					<xs:element ref="base:AttributeDescription" minOccurs="0"/>
					<xs:element ref="base:AttributeValue" minOccurs="0"/>
					<xs:element ref="base:AttributeIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AttributeValueType">
		<xs:annotation>
			<xs:documentation>A choice of boolean, date, datetime, decimal,integer,string, or time values.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:CobieComplexObjectType">
				<xs:choice minOccurs="0" maxOccurs="1">
					<xs:element ref="base:AttributeBooleanValue"/>
					<xs:element ref="base:AttributeDateValue"/>
					<xs:element ref="base:AttributeDateTimeValue"/>
					<xs:element ref="base:AttributeDecimalValue"/>
					<xs:element ref="base:AttributeIntegerValue"/>
					<xs:element ref="base:AttributeMonetaryValue"/>
					<xs:element ref="base:AttributeStringValue"/>
					<xs:element ref="base:AttributeTimeValue"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ConnectionType">
		<xs:annotation>
			<xs:documentation>A type for representing Connection Information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:ConnectionType">
				<xs:sequence>
					<xs:element ref="base:ConnectionAsset1Name" minOccurs="0"/>
					<xs:element ref="base:ConnectionAsset1PortName" minOccurs="0"/>
					<xs:element ref="base:ConnectionAsset2Name" minOccurs="0"/>
					<xs:element ref="base:ConnectionAsset2PortName" minOccurs="0"/>
					<xs:element ref="base:ConnectionDescription" minOccurs="0"/>
					<xs:element ref="base:ConnectionAttributes" minOccurs="0"/>
					<xs:element ref="base:ConnectionDocuments" minOccurs="0"/>
					<xs:element ref="base:ConnectionIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ContactType">
		<xs:annotation>
			<xs:documentation>Information about a specific company who can provide the type of equipment.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:ContactType">
				<xs:sequence>
					<xs:element ref="base:ContactCategory" minOccurs="0"/>
					<xs:element ref="base:ContactCompanyName" minOccurs="0"/>
					<xs:element ref="base:ContactPhoneNumber" minOccurs="0"/>
					<xs:element ref="base:ContactDepartmentName" minOccurs="0"/>
					<xs:element ref="base:ContactGivenName" minOccurs="0"/>
					<xs:element ref="base:ContactFamilyName" minOccurs="0"/>
					<xs:element ref="base:ContactStreet" minOccurs="0"/>
					<xs:element ref="base:ContactPostalBoxNumber" minOccurs="0"/>
					<xs:element ref="base:ContactTownName" minOccurs="0"/>
					<xs:element ref="base:ContactRegionCode" minOccurs="0"/>
					<xs:element ref="base:ContactCountryName" minOccurs="0"/>
					<xs:element ref="base:ContactPostalCode" minOccurs="0"/>
					<xs:element ref="base:ContactURL" minOccurs="0"/>
					<xs:element ref="base:ContactAttributes" minOccurs="0"/>
					<xs:element ref="base:ContactDocuments" minOccurs="0"/>
					<xs:element ref="base:ContactIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DocumentType">
		<xs:annotation>
			<xs:documentation>Information about a specific Document.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:DocumentType">
				<xs:sequence>
					<xs:element ref="base:DocumentCategory" minOccurs="0"/>
					<xs:element ref="base:DocumentDescription" minOccurs="0"/>
					<xs:element ref="base:DocumentURI" minOccurs="0"/>
					<xs:element ref="base:DocumentReferenceURI" minOccurs="0"/>
					<xs:element ref="base:DocumentAttributes" minOccurs="0"/>
					<xs:element ref="base:DocumentIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FacilityType">
		<xs:annotation>
			<xs:documentation>A type for the Facility element that is the root of a COBie document</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:FacilityType">
				<xs:sequence>
					<xs:element ref="base:FacilityCategory" minOccurs="0"/>
					<xs:element ref="base:ProjectAssignment" minOccurs="0"/>
					<xs:element ref="base:SiteAssignment" minOccurs="0"/>
					<xs:element ref="base:FacilityDefaultLinearUnit" minOccurs="0"/>
					<xs:element ref="base:FacilityDefaultAreaUnit" minOccurs="0"/>
					<xs:element ref="base:FacilityDefaultVolumeUnit" minOccurs="0"/>
					<xs:element ref="base:FacilityDefaultCurrencyUnit" minOccurs="0"/>
					<xs:element ref="base:FacilityDefaultMeasurementStandard" minOccurs="0"/>
					<xs:element ref="base:FacilityDescription" minOccurs="0"/>
					<xs:element ref="base:FacilityDeliverablePhaseName" minOccurs="0"/>
					<xs:element ref="base:Floors" minOccurs="0"/>
					<xs:element ref="base:Zones" minOccurs="0"/>
					<xs:element ref="base:AssetTypes" minOccurs="0"/>
					<xs:element ref="base:Systems" minOccurs="0"/>
					<xs:element ref="base:Connections" minOccurs="0"/>
					<xs:element ref="base:Contacts" minOccurs="0"/>
					<xs:element ref="base:FacilityAttributes" minOccurs="0"/>
					<xs:element ref="base:FacilityDocuments" minOccurs="0"/>
					<xs:element ref="base:FacilityIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FloorType">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Floor record is required for all COBie deliverables containing spatial information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:FloorType">
				<xs:sequence>
					<xs:element ref="base:FloorCategory" minOccurs="0"/>
					<xs:element ref="base:FloorDescription" minOccurs="0"/>
					<xs:element ref="base:FloorElevationValue" minOccurs="0"/>
					<xs:element ref="base:FloorHeightValue" minOccurs="0"/>
					<xs:element ref="base:Spaces" minOccurs="0"/>
					<xs:element ref="base:FloorAttributes" minOccurs="0"/>
					<xs:element ref="base:FloorDocuments" minOccurs="0"/>
					<xs:element ref="base:FloorIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="IssueType">
		<xs:annotation>
			<xs:documentation>A specific Issue within this set of Issues.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:IssueType">
				<xs:sequence>
					<xs:element ref="base:IssueRiskText" minOccurs="0"/>
					<xs:element ref="base:IssueSeverityText" minOccurs="0"/>
					<xs:element ref="base:IssueImpactText" minOccurs="0"/>
					<xs:element ref="base:IssueDescription" minOccurs="0"/>
					<xs:element ref="base:ContactAssignment" minOccurs="0"/>
					<xs:element ref="base:IssueMitigationDescription" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="JobType">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Job record is required for all relevant COBie.Type objects submitted at the benefical occupancy or facility handover stage.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:JobType">
				<xs:sequence>
					<xs:element ref="base:JobCategory" minOccurs="0"/>
					<xs:element ref="base:JobStatus" minOccurs="0"/>
					<xs:element ref="base:JobDescription" minOccurs="0"/>
					<xs:element ref="base:JobDuration" minOccurs="0"/>
					<xs:element ref="base:JobStartDate" minOccurs="0"/>
					<xs:element ref="base:JobStartConditionDescription" minOccurs="0"/>
					<xs:element ref="base:JobFrequencyValue" minOccurs="0"/>
					<xs:element ref="base:JobPriorTaskID" minOccurs="0"/>
					<xs:element ref="base:Resources" minOccurs="0"/>
					<xs:element ref="base:JobAttributes" minOccurs="0"/>
					<xs:element ref="base:JobDocuments" minOccurs="0"/>
					<xs:element ref="base:JobIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="ResourceType">
		<xs:annotation>
			<xs:documentation>Information about a specific resource.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:ResourceType">
				<xs:sequence>
					<xs:element ref="base:ResourceCategory" minOccurs="0"/>
					<xs:element ref="base:ResourceDescription" minOccurs="0"/>
					<xs:element ref="base:ResourceAttributes" minOccurs="0"/>
					<xs:element ref="base:ResourceDocuments" minOccurs="0"/>
					<xs:element ref="base:ResourceIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:complexType name="SpaceType">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Space record is required for all COBie deliverables related to Space information.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:SpaceType">
				<xs:sequence>
					<xs:element ref="base:SpaceCategory" minOccurs="0"/>
					<xs:element ref="base:SpaceDescription" minOccurs="0"/>
					<xs:element ref="base:SpaceSignageName" minOccurs="0"/>
					<xs:element ref="base:SpaceUsableHeightValue" minOccurs="0"/>
					<xs:element ref="base:SpaceGrossAreaValue" minOccurs="0"/>
					<xs:element ref="base:SpaceNetAreaValue" minOccurs="0"/>
					<xs:element ref="base:Space2DShape" minOccurs="0"/>
					<xs:element ref="base:SpaceZoneAssignments" minOccurs="0"/>
					<xs:element ref="base:SpaceAttributes" minOccurs="0"/>
					<xs:element ref="base:SpaceDocuments" minOccurs="0"/>
					<xs:element ref="base:SpaceIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpareType">
		<xs:annotation>
			<xs:documentation>Information about a specific Spare.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:SpareType">
				<xs:sequence>
					<xs:element ref="base:SpareDescription" minOccurs="0"/>
					<xs:element ref="base:SpareSetNumber" minOccurs="0"/>
					<xs:element ref="base:SparePartNumber" minOccurs="0"/>
					<xs:element ref="base:SpareContactAssignments" minOccurs="0"/>
					<xs:element ref="base:SpareAttributes" minOccurs="0"/>
					<xs:element ref="base:SpareDocuments" minOccurs="0"/>
					<xs:element ref="base:SpareIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemType">
		<xs:annotation>
			<xs:documentation>COBie.System information is considered to be required only as-specified.  Please refer to the COBie Guide for more information on specific system requirements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:SystemType">
				<xs:sequence>
					<xs:element ref="base:SystemDescription" minOccurs="0"/>
					<xs:element ref="base:SystemAttributes" minOccurs="0"/>
					<xs:element ref="base:SystemDocuments" minOccurs="0"/>
					<xs:element ref="base:SystemIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ZoneType">
		<xs:annotation>
			<xs:documentation>COBie.Zone information is considered to be required only as-specified.  Please refer to the COBie Guide for more information on specific zoning requirements.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="base:ZoneType">
				<xs:sequence>
					<xs:element ref="base:ZoneDescription" minOccurs="0"/>
					<xs:element ref="base:ZoneAttributes" minOccurs="0"/>
					<xs:element ref="base:ZoneDocuments" minOccurs="0"/>
					<xs:element ref="base:ZoneIssues" minOccurs="0"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--Collection Type Definitions-->
	<!-- attribute definitions -->
	<!--Element Definitions-->
	<!--Element Definitions: Elements of Complex Types-->
	<xs:element name="Asset" type="cobie:AssetInfoType" substitutionGroup="base:Asset">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Component record is required for all COBie deliverables related to equpment Component information. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AssetType" type="cobie:AssetTypeInfoType" substitutionGroup="base:AssetType">
		<xs:annotation>
			<xs:documentation>A minimum of one AssetType record is required for all COBie deliverables related to equipment Type information. AssetType is associated with one or more Assets.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AssemblyAssignment" type="cobie:AssemblyType" substitutionGroup="base:AssemblyAssignment">
		<xs:annotation>
			<xs:documentation>The assignment of an Asset or AssetType to an assembly</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Attribute" type="cobie:AttributeType" substitutionGroup="base:Attribute">
		<xs:annotation>
			<xs:documentation>Information about a specific Attribute.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Connection" type="cobie:ConnectionType" substitutionGroup="base:Connection" id="d2e6917">
		<xs:annotation>
			<xs:documentation>Connection information is considered to be required only as-specified. Please refer to the COBie Guide for more information on specific requirements. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Contact" type="cobie:ContactType" substitutionGroup="base:Contact">
		<xs:annotation>
			<xs:documentation>Information about a specific manufacturer or supplier associated with an AssetType.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Document" type="cobie:DocumentType" substitutionGroup="base:Document">
		<xs:annotation>
			<xs:documentation>
			Information about a specific Document. 			
			</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Floor" type="cobie:FloorType" substitutionGroup="base:Floor" id="d2e427">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Floor record is required for all COBie deliverables containing spatial information. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Issue" type="cobie:IssueType" substitutionGroup="base:Issue" id="d2e1495">
		<xs:annotation>
			<xs:documentation>A specific Issue within this set of Issues. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Job" type="cobie:JobType" substitutionGroup="base:Job" id="d2e4137">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Job record is required for all relevant COBie.Type objects submitted at the benefical occupancy or facility handover stage. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Resource" type="cobie:ResourceType" substitutionGroup="base:Resource" id="d2e4451">
		<xs:annotation>
			<xs:documentation>Information about a specific resource. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Spare" type="cobie:SpareType" substitutionGroup="base:Spare" id="d2e4614">
		<xs:annotation>
			<xs:documentation>Information about a specific Spare.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Space" type="cobie:SpaceType" substitutionGroup="base:Space" id="d2e572">
		<xs:annotation>
			<xs:documentation>A minimum of one COBie.Space record is required for all COBie deliverables related to Space information. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Spaces" type="base:SpaceCollectionType" substitutionGroup="base:Spaces" id="d2e559">
		<xs:annotation>
			<xs:documentation>COBie.Space contains information about the horizontal organization of space within a given vertical, or Floor, level.</xs:documentation>
		</xs:annotation>
		<xs:key name="SpaceKey">
			<xs:selector xpath="base:Space"/>
			<xs:field xpath="base:SpaceName"/>
		</xs:key>
	</xs:element>
	<xs:element name="System" type="cobie:SystemType" substitutionGroup="base:System" id="d2e5973">
		<xs:annotation>
			<xs:documentation>Definition
COBie.System information is considered to be required only as-specified. Please refer to the COBie Guide for more information on specific system requirements. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Zone" type="cobie:ZoneType" substitutionGroup="base:Zone" id="d2e781">
		<xs:annotation>
			<xs:documentation>COBie.Zone information is considered to be required only as-specified. Please refer to the COBie Guide for more information on specific zoning requirements.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="Zones" type="base:ZoneCollectionType" substitutionGroup="base:Zones" id="d2e768">
		<xs:annotation>
			<xs:documentation>COBie.Zone provides a mechanism through which groups of spaces may be organized into relevant categories that support various design or operational functions of the facility.</xs:documentation>
		</xs:annotation>
		<xs:key name="ZoneKey">
			<xs:selector xpath="base:Zone"/>
			<xs:field xpath="base:ZoneName"/>
			<xs:field xpath="base:ZoneCategory"/>
		</xs:key>
	</xs:element>
</xs:schema>
