COBieSchema/LCie/CRUD/090_02_ProductTypeTemplate_CRUD.xsd

<!-- edited with XMLSpy v2013 sp1 (x64) (http://www.altova.com) by RDITLACB (private) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pttd="http://typetemplate090.defs.lcie.cobielite.cobie.erdc.org" xmlns="http://core.cobielite.cobie.erdc.org" xmlns:cobie="http://core.cobielite.cobie.erdc.org" xmlns:cobiex="http://crud.lcie.cobielite.cobie.erdc.org" xmlns:pttc="http://typetemplate.crud.lcie.cobielite.cobie.erdc.org" xmlns:cg="http://groups.lcie.cobielite.cobie.erdc.org" xmlns:ptt="http://typetemplate090.lcie.cobielite.cobie.erdc.org" targetNamespace="http://typetemplate.crud.lcie.cobielite.cobie.erdc.org" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="RC3">
	<xs:import namespace="http://crud.lcie.cobielite.cobie.erdc.org" schemaLocation="common/lcie_crud.xsd"/>
	<xs:import namespace="http://typetemplate090.lcie.cobielite.cobie.erdc.org" schemaLocation="../subschema/090_02_ProductTypeTemplate.xsd"/>
		<xs:import namespace="http://typetemplate090.defs.lcie.cobielite.cobie.erdc.org" schemaLocation="../cobielite_substitutions/090_02_ProductTypeTemplate_defs.xsd"/>
	<xs:import namespace="http://core.cobielite.cobie.erdc.org" schemaLocation="../../COBieLite/xsd/common/cobielite_core.xsd"/>
	<xs:import namespace="http://groups.lcie.cobielite.cobie.erdc.org" schemaLocation="../cobielite_substitutions/element_groups.xsd"/>
	<xs:complexType name="TypeTemplateExchangeType">
		<xs:complexContent>
			<xs:extension base="cobiex:ExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TypeTemplateReadType">
		<xs:complexContent>
			<xs:extension base="cobiex:ReadType">
				<xs:sequence>
					<xs:group ref="pttd:AssetTypeEditGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TypeTemplateReadAllType">
		<xs:complexContent>
			<xs:extension base="cobiex:ReadAllType">
				<xs:sequence>
					<xs:element ref="ptt:ProductTypeTemplate"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TypeTemplateUpdateType">
		<xs:complexContent>
			<xs:extension base="cobiex:UpdateType">
				<xs:sequence>
					<xs:group ref="pttd:AssetTypeEditGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ProductTypeTemplate" type="pttc:TypeTemplateExchangeType"/>
	<xs:element name="TypeTemplatelInformationExchange" type="pttc:TypeTemplateExchangeType"/>
	<xs:element name="Read" type="pttc:TypeTemplateReadType" substitutionGroup="cobiex:Read"/>
	<xs:element name="ReadAll" type="pttc:TypeTemplateReadAllType" substitutionGroup="cobiex:ReadAll"/>
	<xs:element name="Update" type="pttc:TypeTemplateUpdateType" substitutionGroup="cobiex:Update"/>
	<xs:element name="ReadKey" type="AssetTypeKeyType" substitutionGroup="cobiex:ReadKey"/>
	<xs:element name="UpdateKey" type="AssetTypeKeyType" substitutionGroup="cobiex:UpdateKey"/>
</xs:schema>
