COBieSchema/COBieLite/xsd/xsl/XMLBeansOutput_ClinicHandover_COBieLite_RC31.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://core.cobielite.cobie.erdc.org" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://core.cobielite.cobie.erdc.org" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:complexType name="T7_AssetType">
		<xs:sequence>
			<xs:element name="AssetTypeName" type="xs:string"/>
			<xs:element name="AssetTypeCategory" type="xs:string"/>
			<xs:element name="AssetTypeDescription" type="xs:string"/>
			<xs:element name="AssetTypeAccountingCategory" type="xs:string"/>
			<xs:element name="AssetTypeModelNumber" type="xs:string"/>
			<xs:element name="AssetTypeReplacementCostValue">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DecimalValue" minOccurs="0" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssetTypeExpectedLifeValue">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IntegerValue" minOccurs="0" type="xs:byte"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssetTypeNominalLength">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DecimalValue" minOccurs="0" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssetTypeNominalWidth">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DecimalValue" minOccurs="0" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssetTypeNominalHeight">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DecimalValue" minOccurs="0" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssetTypeAccessibilityText" type="xs:string"/>
			<xs:element name="AssetTypeCodePerformance" type="xs:string"/>
			<xs:element name="AssetTypeColorCode" type="xs:string"/>
			<xs:element name="AssetTypeConstituentsDescription" type="xs:string"/>
			<xs:element name="AssetTypeFeaturesDescription" type="xs:string"/>
			<xs:element name="AssetTypeFinishDescription" type="xs:string"/>
			<xs:element name="AssetTypeGradeDescription" type="xs:string"/>
			<xs:element name="AssetTypeMaterialDescription" type="xs:string"/>
			<xs:element name="AssetTypeShapeDescription" type="xs:string"/>
			<xs:element name="AssetTypeSizeDescription" type="xs:string"/>
			<xs:element name="AssetTypeSustainabilityPerformanceDescription" type="xs:string"/>
			<xs:element name="Assets">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Asset" maxOccurs="unbounded" type="T16_Asset"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssetTypeManufacturerContactAssignments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactAssignment">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ContactEmailReference" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Warranties">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Warranty" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="WarrantyName" type="xs:string"/>
									<xs:element name="WarrantyCategory" type="xs:string"/>
									<xs:element name="WarrantyDuration">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="UnitName" type="xs:string"/>
												<xs:element name="IntegerValue" type="xs:byte"/>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
									<xs:element name="WarrantyGaurantorContactAssignments">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="ContactAssignment">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="ContactEmailReference" type="xs:string"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:choice>
				<xs:sequence>
					<xs:element name="Jobs" minOccurs="0" type="T3_Jobs"/>
					<xs:element name="AssetTypeAttributes" type="T3_AssetTypeAttributes"/>
					<xs:element name="AssetTypeDocuments" type="T3_AssetTypeDocuments"/>
					<xs:element name="AssetTypeIssues" type="T3_AssetTypeIssues"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="Spares">
						<xs:complexType>
							<xs:sequence>
								<xs:element name="Spare" maxOccurs="unbounded" type="T31_Spare"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
					<xs:element name="Jobs" minOccurs="0" type="T3_Jobs"/>
					<xs:element name="AssetTypeAttributes" type="T3_AssetTypeAttributes"/>
					<xs:element name="AssetTypeDocuments" type="T3_AssetTypeDocuments"/>
					<xs:element name="AssetTypeIssues" type="T3_AssetTypeIssues"/>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T5_System">
		<xs:sequence>
			<xs:element name="SystemName" type="xs:string"/>
			<xs:element name="SystemCategory" type="xs:string"/>
			<xs:element name="SystemDescription" type="xs:string"/>
			<xs:element name="SystemAttributes">
				<xs:complexType/>
			</xs:element>
			<xs:element name="SystemDocuments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Document" minOccurs="0" maxOccurs="unbounded" type="T2_Document"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SystemIssues">
				<xs:complexType/>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T4_Contact">
		<xs:sequence>
			<xs:element name="ContactEmail" type="xs:string"/>
			<xs:element name="ContactCategory" type="xs:string"/>
			<xs:element name="ContactCompanyName" type="xs:string"/>
			<xs:element name="ContactPhoneNumber" type="xs:string"/>
			<xs:element name="ContactDepartmentName" type="xs:string"/>
			<xs:element name="ContactGivenName" type="xs:string"/>
			<xs:element name="ContactFamilyName" type="xs:string"/>
			<xs:element name="ContactStreet" type="xs:string"/>
			<xs:element name="ContactPostalBoxNumber" type="xs:string"/>
			<xs:element name="ContactTownName" type="xs:string"/>
			<xs:element name="ContactRegionCode" type="xs:string"/>
			<xs:element name="ContactCountryName" type="xs:string"/>
			<xs:element name="ContactPostalCode" type="xs:string"/>
			<xs:element name="ContactURL" type="xs:string"/>
			<xs:element name="ContactAttributes">
				<xs:complexType/>
			</xs:element>
			<xs:element name="ContactDocuments">
				<xs:complexType/>
			</xs:element>
			<xs:element name="ContactIssues">
				<xs:complexType/>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T46_Space">
		<xs:sequence>
			<xs:element name="SpaceName" type="xs:string"/>
			<xs:element name="SpaceCategory" type="xs:string"/>
			<xs:element name="SpaceDescription" type="xs:string"/>
			<xs:element name="SpaceSignageName" type="xs:string"/>
			<xs:element name="SpaceUsableHeightValue">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DecimalValue" minOccurs="0" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpaceGrossAreaValue">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DecimalValue" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpaceNetAreaValue">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DecimalValue" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpaceZoneAssignments" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ZoneAssignment">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ZoneName" type="xs:string"/>
									<xs:element name="ZoneCategory" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpaceAttributes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded" type="T22_Attribute"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpaceDocuments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Document" minOccurs="0" maxOccurs="unbounded" type="T2_Document"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpaceIssues">
				<xs:complexType/>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T43_Floor">
		<xs:sequence>
			<xs:element name="FloorName" type="xs:string"/>
			<xs:element name="FloorCategory" type="xs:string"/>
			<xs:element name="FloorDescription" type="xs:string"/>
			<xs:element name="FloorElevationValue">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DecimalValue" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FloorHeightValue">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="DecimalValue" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Spaces" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Space" maxOccurs="unbounded" type="T46_Space"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FloorAttributes">
				<xs:complexType/>
			</xs:element>
			<xs:element name="FloorDocuments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Document" minOccurs="0" maxOccurs="unbounded" type="T2_Document"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="FloorIssues">
				<xs:complexType/>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T42_Zone">
		<xs:sequence>
			<xs:element name="ZoneName" type="xs:string"/>
			<xs:element name="ZoneCategory" type="xs:string"/>
			<xs:element name="ZoneDescription" type="xs:string"/>
			<xs:element name="ZoneAttributes">
				<xs:complexType/>
			</xs:element>
			<xs:element name="ZoneDocuments">
				<xs:complexType/>
			</xs:element>
			<xs:element name="ZoneIssues">
				<xs:complexType/>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T3_Jobs">
		<xs:sequence>
			<xs:element name="Job" maxOccurs="unbounded" type="T34_Job"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T3_AssetTypeIssues"/>
	<xs:complexType name="T3_AssetTypeDocuments">
		<xs:sequence>
			<xs:element name="Document" minOccurs="0" maxOccurs="unbounded" type="T2_Document"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T3_AssetTypeAttributes">
		<xs:sequence>
			<xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded" type="T22_Attribute"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T3_AssetIssues"/>
	<xs:complexType name="T3_AssetDocuments">
		<xs:sequence>
			<xs:element name="Document" minOccurs="0" maxOccurs="unbounded" type="T2_Document"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T3_AssetAttributes">
		<xs:sequence>
			<xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded" type="T22_Attribute"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="T36_Resource">
		<xs:sequence>
			<xs:element name="ResourceName" type="xs:string"/>
			<xs:element name="ResourceCategory" type="xs:string"/>
			<xs:element name="ResourceDescription" type="xs:string"/>
			<xs:element name="ResourceAttributes">
				<xs:complexType/>
			</xs:element>
			<xs:element name="ResourceDocuments">
				<xs:complexType/>
			</xs:element>
			<xs:element name="ResourceIssues">
				<xs:complexType/>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T34_Job">
		<xs:sequence>
			<xs:element name="JobName" type="xs:string"/>
			<xs:element name="JobTaskID" type="xs:byte"/>
			<xs:element name="JobCategory" type="xs:string"/>
			<xs:element name="JobStatus" type="xs:string"/>
			<xs:element name="JobDescription" type="xs:string"/>
			<xs:element name="JobDuration">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="UnitName" type="xs:string"/>
						<xs:element name="IntegerValue" type="xs:short"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="JobStartDate" type="xs:date"/>
			<xs:element name="JobStartConditionDescription" type="xs:string"/>
			<xs:element name="JobFrequencyValue">
				<xs:complexType>
					<xs:sequence minOccurs="0">
						<xs:element name="UnitName" type="xs:string"/>
						<xs:element name="DecimalValue" type="xs:decimal"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Resources">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Resource" minOccurs="0" maxOccurs="unbounded" type="T36_Resource"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="JobAttributes">
				<xs:complexType/>
			</xs:element>
			<xs:element name="JobDocuments">
				<xs:complexType/>
			</xs:element>
			<xs:element name="JobIssues">
				<xs:complexType/>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T31_Spare">
		<xs:sequence>
			<xs:element name="SpareName" type="xs:string"/>
			<xs:element name="SpareCategory" type="xs:string"/>
			<xs:element name="SpareDescription" type="xs:string"/>
			<xs:element name="SpareSetNumber" type="xs:string"/>
			<xs:element name="SparePartNumber" type="xs:string"/>
			<xs:element name="SpareSupplierContactAssignments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="ContactAssignment">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="ContactEmailReference" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpareAttributes">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Attribute" minOccurs="0" maxOccurs="unbounded" type="T22_Attribute"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpareDocuments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Document" minOccurs="0" type="T2_Document"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="SpareIssues">
				<xs:complexType/>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T2_Document">
		<xs:sequence>
			<xs:element name="DocumentName" type="xs:string"/>
			<xs:element name="DocumentCategory" type="xs:string"/>
			<xs:element name="DocumentDescription" type="xs:string"/>
			<xs:element name="DocumentURI" type="xs:string"/>
			<xs:element name="DocumentReferenceURI" type="xs:string"/>
			<xs:element name="DocumentAttributes">
				<xs:complexType/>
			</xs:element>
			<xs:element name="DocumentIssues">
				<xs:complexType/>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T22_Attribute">
		<xs:sequence>
			<xs:element name="AttributeName" type="xs:string"/>
			<xs:element name="AttributeCategory" type="xs:string"/>
			<xs:element name="AttributeDescription" type="xs:string"/>
			<xs:element name="AttributeValue">
				<xs:complexType>
					<xs:choice>
						<xs:element name="AttributeDecimalValue">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="UnitName" minOccurs="0" type="xs:string"/>
									<xs:element name="DecimalValue" type="xs:decimal"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="AttributeStringValue">
							<xs:complexType>
								<xs:choice>
									<xs:sequence>
										<xs:element name="UnitName" type="xs:string"/>
										<xs:element name="StringValue" type="xs:string"/>
									</xs:sequence>
									<xs:sequence>
										<xs:element name="StringValue" type="xs:string"/>
										<xs:element name="AllowedValues" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AttributeAllowedValue" maxOccurs="unbounded" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:choice>
							</xs:complexType>
						</xs:element>
					</xs:choice>
				</xs:complexType>
			</xs:element>
			<xs:element name="AttributeIssues">
				<xs:complexType/>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="propertySetName" use="required" type="xs:string"/>
		<xs:attribute name="propertySetExternalIdentifier" use="required" type="xs:string"/>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:complexType name="T16_Asset">
		<xs:sequence>
			<xs:element name="AssetName" type="xs:string"/>
			<xs:element name="AssetSpaceAssignments">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SpaceAssignment" maxOccurs="unbounded">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="FloorName" type="xs:string"/>
									<xs:element name="SpaceName" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="AssetDescription" type="xs:string"/>
			<xs:element name="AssetSerialNumber" type="xs:string"/>
			<xs:choice>
				<xs:sequence>
					<xs:element name="AssetTagNumber" type="xs:string"/>
					<xs:element name="AssetBarCode" type="xs:string"/>
					<xs:element name="AssetIdentifier" type="xs:string"/>
					<xs:element name="AssetLocationDescription" type="xs:string"/>
					<xs:element name="AssetAttributes" type="T3_AssetAttributes"/>
					<xs:element name="AssetDocuments" type="T3_AssetDocuments"/>
					<xs:element name="AssetIssues" type="T3_AssetIssues"/>
				</xs:sequence>
				<xs:sequence>
					<xs:element name="AssetInstallationDate" type="xs:date"/>
					<xs:choice>
						<xs:sequence>
							<xs:element name="AssetWarrantyStartDate" type="xs:date"/>
							<xs:element name="AssetTagNumber" type="xs:string"/>
							<xs:element name="AssetBarCode" type="xs:string"/>
							<xs:element name="AssetIdentifier" type="xs:string"/>
							<xs:element name="AssetLocationDescription" type="xs:string"/>
							<xs:element name="AssetSystemAssignments" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="SystemAssignment" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SystemName" type="xs:string"/>
													<xs:element name="SystemCategory" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AssetAttributes" type="T3_AssetAttributes"/>
							<xs:element name="AssetDocuments" type="T3_AssetDocuments"/>
							<xs:element name="AssetIssues" type="T3_AssetIssues"/>
						</xs:sequence>
						<xs:sequence>
							<xs:element name="AssetTagNumber" type="xs:string"/>
							<xs:element name="AssetBarCode" type="xs:string"/>
							<xs:element name="AssetIdentifier" type="xs:string"/>
							<xs:element name="AssetLocationDescription" type="xs:string"/>
							<xs:element name="AssetAttributes" type="T3_AssetAttributes"/>
							<xs:element name="AssetDocuments" type="T3_AssetDocuments"/>
							<xs:element name="AssetIssues" type="T3_AssetIssues"/>
						</xs:sequence>
					</xs:choice>
				</xs:sequence>
			</xs:choice>
		</xs:sequence>
		<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
		<xs:attribute name="externalID" use="required" type="xs:string"/>
		<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
	</xs:complexType>
	<xs:attribute name="externalSystemName" type="xs:string"/>
	<xs:attribute name="externalID" type="xs:string"/>
	<xs:attribute name="externalEntityName" type="xs:string"/>
	<xs:element name="Zones">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Zone" maxOccurs="unbounded" type="T42_Zone"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="Systems">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="System" maxOccurs="unbounded" type="T5_System"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="SiteAssignment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SiteName" type="xs:string"/>
				<xs:element name="SiteDescription" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
			<xs:attribute name="externalID" use="required" type="xs:string"/>
			<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ProjectAssignment">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ProjectName" type="xs:string"/>
				<xs:element name="ProjectDescription" type="xs:string"/>
			</xs:sequence>
			<xs:attribute name="externalSystemName" use="required" type="xs:string"/>
			<xs:attribute name="externalID" use="required" type="xs:string"/>
			<xs:attribute name="externalEntityName" use="required" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="Floors">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Floor" maxOccurs="unbounded" type="T43_Floor"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FacilityName" type="xs:string"/>
	<xs:element name="FacilityIssues">
		<xs:complexType/>
	</xs:element>
	<xs:element name="FacilityDocuments">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Document" maxOccurs="unbounded" type="T2_Document"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="FacilityDescription" type="xs:string"/>
	<xs:element name="FacilityDeliverablePhaseName" type="xs:string"/>
	<xs:element name="FacilityDefaultVolumeUnit" type="xs:string"/>
	<xs:element name="FacilityDefaultMeasurementStandard" type="xs:string"/>
	<xs:element name="FacilityDefaultLinearUnit" type="xs:string"/>
	<xs:element name="FacilityDefaultCurrencyUnit" type="xs:string"/>
	<xs:element name="FacilityDefaultAreaUnit" type="xs:string"/>
	<xs:element name="FacilityCategory" type="xs:string"/>
	<xs:element name="FacilityAttributes">
		<xs:complexType/>
	</xs:element>
	<xs:element name="Contacts">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Contact" maxOccurs="unbounded" type="T4_Contact"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AssetTypes">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AssetType" maxOccurs="unbounded" type="T7_AssetType"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
