COBieSchema/LCie/CRUD/common/250_03_ProductTypeMaintenance_CRUD_defs.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:md="http://maintenance250.defs.lcie.cobielite.cobie.erdc.org" xmlns:attc="http://attribute.defs.crud.lcie.cobielite.cobie.erdc.org" xmlns:conc="http://contact.crud.lcie.cobielite.cobie.erdc.org" xmlns="http://core.cobielite.cobie.erdc.org" xmlns:cobie="http://core.cobielite.cobie.erdc.org" xmlns:cobiex="http://crud.lcie.cobielite.cobie.erdc.org" xmlns:mc="http://maintenance250.defs.crud.lcie.cobielite.cobie.erdc.org" xmlns:docc="http://document.defs.crud.lcie.cobielite.cobie.erdc.org" xmlns:ptm="http://maintenance250.lcie.cobielite.cobie.erdc.org" targetNamespace="http://maintenance250.defs.crud.lcie.cobielite.cobie.erdc.org" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="RC3">
	<xs:import namespace="http://crud.lcie.cobielite.cobie.erdc.org" schemaLocation="lcie_crud.xsd"/>
	<xs:import namespace="http://maintenance250.lcie.cobielite.cobie.erdc.org" schemaLocation="../../subschema/250_03_ProductTypeMaintenance.xsd"/>
	<xs:import namespace="http://maintenance250.defs.lcie.cobielite.cobie.erdc.org" schemaLocation="../../cobielite_substitutions/250_03_ProductTypeMaintenance_defs.xsd"/>
	<xs:import namespace="http://core.cobielite.cobie.erdc.org" schemaLocation="../../../COBieLite/xsd/common/cobielite_core.xsd"/>
	<xs:import namespace="http://document.defs.crud.lcie.cobielite.cobie.erdc.org" schemaLocation="Document_CRUD_defs.xsd"/>
	<xs:import namespace="http://contact.crud.lcie.cobielite.cobie.erdc.org" schemaLocation="contact_crud.xsd"/>
	<xs:import namespace="http://attribute.defs.crud.lcie.cobielite.cobie.erdc.org" schemaLocation="Attribute_CRUD_defs.xsd"/>
	<xs:complexType name="MaintenanceReadResultType">
		<xs:complexContent>
			<xs:extension base="cobiex:ReadResultType">
				<xs:sequence>
					<xs:element ref="AssetType"/>
					<xs:element ref="Contacts"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateJobType">
		<xs:sequence>
			<xs:element ref="mc:AssetTypeKey"/>
			<xs:element ref="Job"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteJobType">
		<xs:sequence>
			<xs:element ref="mc:JobKey"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateJobType">
		<xs:sequence>
			<xs:element ref="mc:JobKey"/>
			<xs:group ref="md:JobUpdateGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreateResourceType">
		<xs:sequence>
			<xs:element ref="mc:JobKey"/>
			<xs:element ref="Resource"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeleteResourceType">
		<xs:sequence>
			<xs:element ref="mc:ResourceKey"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateResourceType">
		<xs:sequence>
			<xs:element ref="mc:ResourceKey"/>
			<xs:group ref="md:ResourceUpdateGroup"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UpdateAssetTypeDocumentType">
		<xs:complexContent>
			<xs:extension base="docc:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="mc:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateAssetTypeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="mc:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteAssetTypeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="mc:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateJobDocumentType">
		<xs:complexContent>
			<xs:extension base="docc:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="mc:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateJobDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="mc:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteJobDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="mc:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateResourceDocumentType">
		<xs:complexContent>
			<xs:extension base="docc:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="mc:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateResourceDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="mc:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteResourceDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="mc:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateJobAttributeType">
		<xs:complexContent>
			<xs:extension base="attc:UpdateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="mc:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateJobAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="attc:CreateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="mc:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteJobAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="attc:DeleteAttributeRequestType">
				<xs:sequence>
					<xs:element ref="mc:JobKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateResourceAttributeType">
		<xs:complexContent>
			<xs:extension base="attc:UpdateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="mc:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateResourceAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="attc:CreateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="mc:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteResourceAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="attc:DeleteAttributeRequestType">
				<xs:sequence>
					<xs:element ref="mc:ResourceKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeMaintenanceClientRequestType">
		<xs:complexContent>
			<xs:extension base="cobiex:ClientRequestExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeMaintenanceServerResponseType">
		<xs:complexContent>
			<xs:extension base="cobiex:ServerResponseExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeMaintenanceCreateRequestType">
		<xs:complexContent>
			<xs:extension base="cobiex:CreateRequestType">
				<xs:choice>
					<xs:element ref="mc:CreateAssetTypeDocumentRequest"/>
					<xs:element ref="mc:CreateJobDocumentRequest"/>
					<xs:element ref="mc:CreateResourceDocumentRequest"/>
					<xs:element ref="mc:CreateJobAttributeRequest"/>
					<xs:element ref="mc:CreateResourceAttributeRequest"/>
					<xs:element ref="mc:CreateJobRequest"/>
					<xs:element ref="mc:CreateResourceRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProductTypeMaintenanceDeleteRequestType">
		<xs:complexContent>
			<xs:extension base="cobiex:DeleteRequestType">
				<xs:choice>
					<xs:element ref="mc:DeleteAssetTypeDocumentRequest"/>
					<xs:element ref="mc:DeleteJobDocumentRequest"/>
					<xs:element ref="mc:DeleteResourceDocumentRequest"/>
					<xs:element ref="mc:DeleteJobAttributeRequest"/>
					<xs:element ref="mc:DeleteResourceAttributeRequest"/>
					<xs:element ref="mc:DeleteJobRequest"/>
					<xs:element ref="mc:DeleteResourceRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateProductTypeMaintenanceRequestType">
		<xs:complexContent>
			<xs:extension base="cobiex:UpdateRequestType">
				<xs:choice>
					<xs:element ref="mc:UpdateAssetTypeDocumentRequest"/>
					<xs:element ref="mc:UpdateJobDocumentRequest"/>
					<xs:element ref="mc:UpdateResourceDocumentRequest"/>
					<xs:element ref="mc:UpdateJobAttributeRequest"/>
					<xs:element ref="mc:UpdateResourceAttributeRequest"/>
					<xs:element ref="mc:UpdateJobRequest"/>
					<xs:element ref="mc:UpdateResourceRequest"/>
				</xs:choice>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ProductTypeMaintenanceUpdateRequest" type="mc:UpdateProductTypeMaintenanceRequestType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="ProductTypeMaintenanceCreateRequest" type="mc:ProductTypeMaintenanceCreateRequestType" substitutionGroup="cobiex:CreateRequest"/>
	<xs:element name="ProductTypeMaintenanceDeleteRequest" type="mc:ProductTypeMaintenanceDeleteRequestType" substitutionGroup="cobiex:DeleteRequest"/>
	<xs:element name="AssetTypeKey" type="AssetTypeKeyType" substitutionGroup="cobiex:Key"/>
	<xs:element name="ProductTypeMaintenanceReadResult" type="mc:MaintenanceReadResultType" substitutionGroup="cobiex:ReadResult"/>
	<xs:element name="ProductTypeMaintenance" type="md:ProductMaintenanceType" substitutionGroup="cobiex:InformationExchange"/>
	<xs:element name="DeleteAssetTypeDocumentRequest" type="mc:DeleteAssetTypeDocumentRequestType"/>
	<xs:element name="CreateAssetTypeDocumentRequest" type="mc:CreateAssetTypeDocumentRequestType"/>
	<xs:element name="UpdateAssetTypeDocumentRequest" type="mc:UpdateAssetTypeDocumentType"/>
	<xs:element name="DeleteJobDocumentRequest" type="mc:DeleteJobDocumentRequestType"/>
	<xs:element name="CreateJobDocumentRequest" type="mc:CreateJobDocumentRequestType"/>
	<xs:element name="UpdateJobDocumentRequest" type="mc:UpdateJobDocumentType"/>
	<xs:element name="DeleteResourceDocumentRequest" type="mc:DeleteResourceDocumentRequestType"/>
	<xs:element name="CreateResourceDocumentRequest" type="mc:CreateResourceDocumentRequestType"/>
	<xs:element name="UpdateResourceDocumentRequest" type="mc:UpdateResourceDocumentType"/>
	<xs:element name="DeleteJobAttributeRequest" type="mc:DeleteJobAttributeRequestType"/>
	<xs:element name="CreateJobAttributeRequest" type="mc:CreateJobAttributeRequestType"/>
	<xs:element name="UpdateJobAttributeRequest" type="mc:UpdateJobAttributeType"/>
	<xs:element name="DeleteResourceAttributeRequest" type="mc:DeleteResourceAttributeRequestType"/>
	<xs:element name="CreateResourceAttributeRequest" type="mc:CreateResourceAttributeRequestType"/>
	<xs:element name="UpdateResourceAttributeRequest" type="mc:UpdateResourceAttributeType"/>
	<xs:element name="CreateJobRequest" type="mc:CreateJobType"/>
	<xs:element name="UpdateJobRequest" type="mc:UpdateJobType"/>
	<xs:element name="DeleteJobRequest" type="mc:DeleteJobType"/>
	<xs:element name="CreateResourceRequest" type="mc:CreateResourceType"/>
	<xs:element name="UpdateResourceRequest" type="mc:UpdateResourceType"/>
	<xs:element name="DeleteResourceRequest" type="mc:DeleteResourceType"/>
	<xs:element name="JobKey" type="JobKeyType"/>
	<xs:element name="ResourceKey" type="ResourceKeyType"/>
</xs:schema>
