COBieSchema/LCie/CRUD/common/250_04_SystemOperation_CRUD_defs.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:sod="http://operation250.defs.lcie.cobielite.cobie.erdc.org" xmlns:attc="http://attribute.defs.crud.lcie.cobielite.cobie.erdc.org"  xmlns="http://core.cobielite.cobie.erdc.org" xmlns:cobie="http://core.cobielite.cobie.erdc.org" xmlns:issc="http://issue.defs.crud.lcie.cobielite.cobie.erdc.org" xmlns:cobiex="http://crud.lcie.cobielite.cobie.erdc.org" xmlns:soc="http://operation250.defs.crud.lcie.cobielite.cobie.erdc.org" xmlns:docc="http://document.defs.crud.lcie.cobielite.cobie.erdc.org" xmlns:so="http://operation250.lcie.cobielite.cobie.erdc.org" targetNamespace="http://operation250.defs.crud.lcie.cobielite.cobie.erdc.org" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="RC3">
	<xs:import namespace="http://crud.lcie.cobielite.cobie.erdc.org" schemaLocation="lcie_crud.xsd"/>
	<xs:import namespace="http://operation250.lcie.cobielite.cobie.erdc.org" schemaLocation="../../subschema/250_04_SystemOperation.xsd"/>
	<xs:import namespace="http://operation250.defs.lcie.cobielite.cobie.erdc.org" schemaLocation="../../cobielite_substitutions/250_04_SystemOperation_defs.xsd"/>
	<xs:import namespace="http://core.cobielite.cobie.erdc.org" schemaLocation="../../../COBieLite/xsd/common/cobielite_core.xsd"/>
	<xs:import namespace="http://document.defs.crud.lcie.cobielite.cobie.erdc.org" schemaLocation="Document_CRUD_defs.xsd"/>
	<xs:import namespace="http://attribute.defs.crud.lcie.cobielite.cobie.erdc.org" schemaLocation="Attribute_CRUD_defs.xsd"/>
	<xs:import namespace="http://issue.defs.crud.lcie.cobielite.cobie.erdc.org" schemaLocation="Issue_CRUD_defs.xsd"/>
	<xs:complexType name="SystemOperationReadAllType">
		<xs:complexContent>
			<xs:extension base="cobiex:ReadAllResultType">
				<xs:sequence>
					<xs:element ref="so:SystemOperation"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemOperationReadType">
		<xs:complexContent>
			<xs:extension base="cobiex:ReadResultType">
				<xs:sequence>
					<xs:element ref="System"/>
					<xs:element ref="AssetTypes"/>
					<xs:element ref="Floors"/>
					<xs:element ref="Zones"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateZoneType">
		<xs:complexContent>
			<xs:extension base="cobiex:UpdateRequestType">
				<xs:sequence>
					<xs:element ref="soc:ZoneKey"/>
					<xs:group ref="sod:ZoneUpdateGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateZoneIssueRequestType">
		<xs:complexContent>
			<xs:extension base="issc:UpdateIssueRequestType">
				<xs:sequence>
					<xs:element ref="soc:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateZoneIssueRequestType">
		<xs:complexContent>
			<xs:extension base="issc:CreateIssueRequestType">
				<xs:sequence>
					<xs:element ref="soc:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteZoneIssueRequestType">
		<xs:complexContent>
			<xs:extension base="issc:DeleteIssueRequestType">
				<xs:sequence>
					<xs:element ref="soc:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateZoneAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="attc:UpdateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="soc:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateZoneAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="attc:CreateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="soc:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteZoneAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="attc:DeleteAttributeRequestType">
				<xs:sequence>
					<xs:element ref="soc:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateZoneDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="soc:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateZoneDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="soc:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteZoneDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="soc:ZoneKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateAssetTypeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="soc:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateAssetTypeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="soc:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteAssetTypeDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="soc:AssetTypeKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateAssetRequestType">
		<xs:complexContent>
			<xs:extension base="cobiex:UpdateRequestType">
				<xs:sequence>
					<xs:element ref="AssetWarrantyStartDate"/>
					<xs:element ref="AssetSystemAssignments"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateSystemRequestType">
		<xs:complexContent>
			<xs:extension base="cobiex:CreateRequestType">
				<xs:sequence>
					<xs:element ref="System"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteSystemRequestType">
		<xs:complexContent>
			<xs:extension base="cobiex:DeleteRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateSystemRequestType">
		<xs:complexContent>
			<xs:extension base="cobiex:UpdateRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
					<xs:group ref="sod:SystemUpdateGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateSpaceRequestType">
		<xs:complexContent>
			<xs:extension base="cobiex:UpdateRequestType">
				<xs:sequence>
					<xs:element ref="soc:SpaceKey"/>
					<xs:group ref="sod:SpaceCreateGroup"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateSystemIssueRequestType">
		<xs:complexContent>
			<xs:extension base="issc:UpdateIssueRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateSystemIssueRequestType">
		<xs:complexContent>
			<xs:extension base="issc:CreateIssueRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteSystemIssueRequestType">
		<xs:complexContent>
			<xs:extension base="issc:DeleteIssueRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateSystemAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="attc:UpdateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateSystemAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="attc:CreateAttributeRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteSystemAttributeRequestType">
		<xs:complexContent>
			<xs:extension base="attc:DeleteAttributeRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="UpdateSystemDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:UpdateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CreateSystemDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:CreateDocumentRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeleteSystemDocumentRequestType">
		<xs:complexContent>
			<xs:extension base="docc:DeleteDocumentRequestType">
				<xs:sequence>
					<xs:element ref="soc:SystemOperationKey"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemOperationClientRequestType">
		<xs:complexContent>
			<xs:extension base="cobiex:ClientRequestExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SystemOperationServerResponseType">
		<xs:complexContent>
			<xs:extension base="cobiex:ServerResponseExchangeType"/>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="UpdateSystemRequest" type="soc:UpdateSystemRequestType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="DeleteSystemRequest" type="soc:DeleteSystemRequestType" substitutionGroup="cobiex:DeleteRequest"/>
	<xs:element name="CreateSystemRequest" type="soc:CreateSystemRequestType" substitutionGroup="cobiex:CreateRequest"/>
	<xs:element name="UpdateAssetRequest" type="soc:UpdateAssetRequestType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="UpdateZoneIssueRequest" type="soc:UpdateZoneIssueRequestType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="DeleteZoneIssueRequest" type="soc:DeleteZoneIssueRequestType" substitutionGroup="cobiex:DeleteRequest"/>
	<xs:element name="CreateZoneIssueRequest" type="soc:CreateZoneIssueRequestType" substitutionGroup="cobiex:CreateRequest"/>
	<xs:element name="UpdateZoneAttributeRequest" type="soc:UpdateZoneAttributeRequestType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="DeleteZoneAttributeRequest" type="soc:DeleteZoneAttributeRequestType" substitutionGroup="cobiex:DeleteRequest"/>
	<xs:element name="CreateZoneAttributeRequest" type="soc:CreateZoneAttributeRequestType" substitutionGroup="cobiex:CreateRequest"/>
	<xs:element name="UpdateZoneDocumentRequest" type="soc:UpdateZoneDocumentRequestType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="DeleteZoneDocumentRequest" type="soc:DeleteZoneDocumentRequestType" substitutionGroup="cobiex:DeleteRequest"/>
	<xs:element name="CreateZoneDocumentRequest" type="soc:CreateZoneDocumentRequestType" substitutionGroup="cobiex:CreateRequest"/>
	<xs:element name="UpdateSystemIssueRequest" type="soc:UpdateSystemIssueRequestType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="DeleteSystemIssueRequest" type="soc:DeleteSystemIssueRequestType" substitutionGroup="cobiex:DeleteRequest"/>
	<xs:element name="CreateSystemIssueRequest" type="soc:CreateSystemIssueRequestType" substitutionGroup="cobiex:CreateRequest"/>
	<xs:element name="UpdateSystemAttributeRequest" type="soc:UpdateSystemAttributeRequestType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="DeleteSystemAttributeRequest" type="soc:DeleteSystemAttributeRequestType" substitutionGroup="cobiex:DeleteRequest"/>
	<xs:element name="CreateSystemAttributeRequest" type="soc:CreateSystemAttributeRequestType" substitutionGroup="cobiex:CreateRequest"/>
	<xs:element name="UpdateSystemDocumentRequest" type="soc:UpdateSystemDocumentRequestType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="DeleteSystemDocumentRequest" type="soc:DeleteSystemDocumentRequestType" substitutionGroup="cobiex:DeleteRequest"/>
	<xs:element name="CreateSystemDocumentRequest" type="soc:CreateSystemDocumentRequestType" substitutionGroup="cobiex:CreateRequest"/>
	<xs:element name="UpdateAssetTypeDocumentRequest" type="soc:UpdateAssetTypeDocumentRequestType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="DeleteAssetTypeDocumentRequest" type="soc:DeleteAssetTypeDocumentRequestType" substitutionGroup="cobiex:DeleteRequest"/>
	<xs:element name="CreateAssetTypeDocumentRequest" type="soc:CreateAssetTypeDocumentRequestType" substitutionGroup="cobiex:CreateRequest"/>
	<xs:element name="UpdateZoneRequest" type="soc:UpdateZoneType" substitutionGroup="cobiex:UpdateRequest"/>
	<xs:element name="SystemOperationReadAllResult" type="soc:SystemOperationReadAllType" substitutionGroup="cobiex:ReadAllResult"/>
	<xs:element name="SystemOperationReadResult" type="soc:SystemOperationReadType" substitutionGroup="cobiex:ReadResult"/>
	<xs:element name="SystemOperationKey" type="SystemKeyType" substitutionGroup="cobiex:Key"/>
	<xs:element name="ZoneKey" type="ZoneKeyType"/>
	<xs:element name="AssetTypeKey" type="AssetTypeKeyType"/>
	<xs:element name="AssetKey" type="AssetKeyType"/>
	<xs:element name="SpaceKey" type="SpaceKeyType"/>
</xs:schema>
